extends layout

block content

    div(class="container login front admin-login")
         div(class="admin-login-one")
             a(href="/admin/querytool")
                img(src="/images/labadmin.png", alt="The Yoke",  title="Yoke", class="yokelogo")
             h1(class="font-30")!= 'Hello Sys Admins.'
             - if(loggedlabyoker != null && loggedlabyoker != "")
                p(class="adminlogin-desc")!="Welcome to LabYoke Admin, <span class='font-15'><b>" + loggedlabyoker + "</b></span>.<br/> You are still logged into <a href='/search'>Labyoke</a>. Unfortunately you do not have sufficient permissions to access the System Admin pages. If you have a super admin account please log in below or reach out to your administrator for access."
             - else
                p(class="adminlogin-desc")="Welcome to LabYoke Admin. You are one step away from managing useful entities!"

         div(id="ctl00_Div2" class="frontdiv results3")
           div
            if message
                div(class="alert alert-danger fade in alert-dismissable")!= message
            form(action="/admin/login" method="post")
                div(class="textentry")
                    span(class="fa fa-user admin-login-user")
                    input(name="user" type="text" id="user" class="form-control form-control0 placeholderColor" placeholder="Username")
                div(class="textentry")
                    input(name="pass" type="password" id="pass" class="form-control form-control0 placeholderColor" placeholder="Password")
                    span(class="fa fa-key admin-login-key")
                div(class="buttons")
                    button.btn.btn-success.btn-lg.btn-block.shadow.resizebutton(type='submit') Get in
            div(class="margintop-10")
                span(class="floatleft")
                    - if(loggedlabyoker != null && loggedlabyoker != "")
                        a(href="https://team-labyoke.herokuapp.com/", class="z-index-10")="Return to Labyoke"
                    - else
                        a(href="https://team-labyoke.herokuapp.com/", class="z-index-10")="Labyoke"
                span(class="float-right")
                    a(href="/forgot", class="z-index-10")="Forgot password"
    div(class="help")
       a(href="/help" title="Help")
        img(src="/images/bouee3.png", alt="Help", title="Help", class="helplogin")
        script(type="text/javascript" src="/js/admin-login-utils.js")
