extends layout

block content
                           
  div(class="container")
    img(src="/images/house.png" style="display:none;") 
    //div(class="fa fa-home labColor us", style="margin-top: 15px;")
    //  span(class="fa fa-plus aboutplus")
    //  a(href="/search")
    //     img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogous")
    div(class="fronthelp", style="margin-top: 15px;")
      a(href="/search")
        img(src="/images/house.png", alt="The Yoke",  title="Konate-Schib", class="yokelogo", style="width: 209px;height: 143.78px;")
    div
      //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
      h1!= i18n.__("layout.About Us") + "."
      div(style="text-align:center; color:white;margin-top: 15px;").alert.alert-warning.labColorBackground
        h3(style="margin-top: 10px;")!= i18n.__("about.aboutus") + "?!"
      div.pointsLayout.alert.results
          span #{i18n.__("about.desc1")}
      div.pointsLayout.alert.results
          span #{i18n.__("about.desc5")}
      div.pointsLayout.alert.results
        div.pointsLayout.alert.alert-success
          span #{i18n.__("about.desc2")}
        div.pointsLayout.alert.alert-success
          span #{i18n.__("about.desc3")}
      div.pointsLayout.alert.results
          span!= i18n.__("about.desc4")
    div(class="teamrow")
      div(class="teamcolumn")
        div(class="teamcard")
         img(src="img1.jpg" alt="Jane" style="width:100%")
        div(class="teamcontainer")
        h2!="Andria Schibler"
        p(class="teamtitle") != "CEO &amp; Founder"
        p!="Some text that describes me lorem ipsum ipsum lorem."
        p!="example@example.com"
        p
          button(class="button")!= "Contact"
      div(class="teamcolumn")
        div(class="teamcard")
         img(src="img1.jpg" alt="Jane" style="width:100%")
        div(class="teamcontainer")
        h2!="Eran Shaysh"
        p(class="teamtitle") != "CEO &amp; Founder"
        p!="Some text that describes me lorem ipsum ipsum lorem."
        p!="example@example.com"
        p
          button(class="button")!= "Contact"
      div(class="teamcolumn")
        div(class="teamcard")
         img(src="img1.jpg" alt="Jane" style="width:100%")
        div(class="teamcontainer")
        h2!="Gnagna Konaté"
        p(class="teamtitle") != "CEO &amp; Founder"
        p!="Some text that describes me lorem ipsum ipsum lorem."
        p!="example@example.com"
        p
          button(class="teambutton")!= "Contact"
