extends layout

block content
                           
  div(class="container")
    div(class="fa fa-home labColor us", style="margin-top: 15px;")
      span(class="fa fa-plus aboutplus")
      a(href="/search")
         img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogous")
    div
      //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
      h1!= i18n.__("layout.About Us") + "."
      div(style="text-align:center; color:white;margin-top: 15px;").alert.alert-warning.labColorBackground
        h3(style="margin-top: 10px;")!= i18n.__("about.aboutus") + "?!"
      div.pointsLayout.alert.results
          span #{i18n.__("about.desc1")}
      div.pointsLayout.alert.results
          span #{i18n.__("about.desc5")}
      div.pointsLayout.alert.results
        div.pointsLayout.alert.alert-success
          span #{i18n.__("about.desc2")}
        div.pointsLayout.alert.alert-success
          span #{i18n.__("about.desc3")}
      div.pointsLayout.alert.results
          span!= i18n.__("about.desc4")