extends layout

block content


    div(class="container login")
        div(style="float: left; width: 100%;")
            a(href="/search")
                img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Hello ' + labyoker + "."
            p(style="padding-bottom: 20px;")
              span="This page is dedicated to " 
              span(style="color: #3d9dcb;")="you. "
              span="If you wish to change your personal details such as your telephone number or Lab information."
            - if(resultsAccount)
                h3="Great! You have successfully changed your "
                   span(style="color: #3d9dcb;")=" " + resultsAccount
                   span="!"                 
            div(class="table-responsive")
                         -var ob = userDetails
                         - var j = 1
                         -for(var prop in ob)
                            - var i = prop % 2
                            - var classname = "";
                            - if(i==0)
                                - classname = "active"
                            - if(prop==1)
                                - classname = "you info-best"
                            - var name = ob[prop].name
                            - var surname = ob[prop].surname
                            - var email = ob[prop].email
                            - var tel = ob[prop].tel
                            - var admin = ob[prop].admin
                            - var adminIntro = ""
                            - var lab = ob[prop].lab
                            - var ob = labs
                            - for(var prop in ob)
                               - var labname = ob[prop].labname
                               - if(lab == ob[prop].labname)
                                  - var labadmin = ob[prop].admin
                                  - adminIntro = "Your Lab Administrator is <a href=\"mailto:'"+labadmin+"'\">" + labadmin + "</a>."
                               - if(admin == 1)
                                 - if(email == ob[prop].admin)
                                    - var labadmin = ob[prop].labname
                                    - adminIntro = "You are a Lab Administrator for <span class='labColor'>" + labadmin + "</span>."
                            - if(!name)
                                - name = "..."
                            - if(!email)
                                - email = "..."
                            - if(!surname)
                                - surname = "..."
                            - if(!tel)
                                - tel = "..."
                            - if(!lab)
                                - lab = "..."
                            
                            div(style="float:left;")
                              div(class="labColor", style="font-weight:bold; margin-bottom:25px;")="Name"
                              div(class="labColor", style="font-weight:bold; margin-bottom:25px;")="Surname"
                              div(class="labColor", style="font-weight:bold; margin-bottom:25px;")="Email"
                              div(class="labColor", style="font-weight:bold; margin-bottom:25px;")="Tel"
                              div(class="labColor", style="font-weight:bold; margin-bottom:25px;")="Lab"
                            div(style="margin-left: 100px;", class="wrapped")
                              div(style="margin-bottom:25px;")
                                span(id="name")!=name + " "
                                form(action="/changeDetails" id="changename" method="post" class="nameform")
                                  input(name="valuedetail" type="text" id="valuedetail" placeholder=name)
                                  input(name="column" type="hidden" id="column" value="name")
                                  input(name="formemail" type="hidden" id="formemail" value=email)
                                span(onclick="pencilname()", id="pencilname", class="fa fa-pencil")
                                span(onclick="updatenameform()", id="checkname", class="fa fa-check", style="color:green")
                              div(style="margin-bottom:25px;")
                                span(id="surname")!= surname + " "
                                form(action="/changeDetails" id="changesurname" method="post" class="surnameform")
                                  input(name="valuedetail" type="text" id="valuedetail" placeholder=surname)
                                  input(name="column" type="hidden" id="column" value="surname")
                                  input(name="formemail" type="hidden" id="formemail" value=email)
                                span(onclick="pencilsurname()", id="pencilsurname", class="fa fa-pencil")
                                span(onclick="updatesurnameform()", id="checksurname", class="fa fa-check", style="color:green")
                              div(style="margin-bottom:25px;") #{email}
                              div(style="margin-bottom:25px;")
                                span(id="tel")!= tel + " "
                                form(action="/changeDetails" id="changetel" method="post" class="telform")
                                  input(name="valuedetail" type="text" id="valuedetail" placeholder=tel)
                                  input(name="column" type="hidden" id="column" value="tel")
                                  input(name="formemail" type="hidden" id="formemail" value=email)
                                span(onclick="penciltel()", id="penciltel" class="fa fa-pencil")
                                span(onclick="updatetelform()", id="checktel" class="fa fa-check", style="color:green")
                              div(style="margin-bottom:25px;") #{lab}
        div
          p(class="yokeColor", style="font-weight:bold")!=adminIntro
