extends layout

block content
    //div(id="pageloader")
    //  div(class="spinner")
    //    div(class="bounce1")
    //    div(class="bounce2")
    //    div(class="bounce3")

    div(class="container login marginbottom margintop container2 moveFromLeft")
        div(style="float: left; width: 100%;margin-bottom: 0px;", class="share-container")
            h1(class="wrapped2")= i18n.__("account.title") + labyoker + "."
            p(style="padding-bottom: 20px;", class="texthalf")!= i18n.__("account.subtitle")
            - if(resultsAccount)
              div(id="ordered" class="animated fadeInDown")
                div(class="alert", style="margin-bottom: 45px;")
                  a(href="#", class="closeordered", data-dismiss="alert", aria-label="close", title="close")="x"
                  h4(class="orderedh4")= i18n.__("account.success")
                     span!=" " + resultsAccount
                     span="!"                 
            div
              div(class="table-responsive center profile")
                           -var ob = userDetails
                           - var j = 1
                           - var selectedlang = ""
                           -for(var prop in ob)
                              - var i = prop % 2
                              - var classname = "";
                              - if(i==0)
                                  - classname = "active"
                              - if(prop==1)
                                  - classname = "you info-best"
                              - var name = ob[prop].name
                              - var surname = ob[prop].surname
                              - var email = ob[prop].email
                              - var tel = ob[prop].tel
                              - var admin = ob[prop].admin
                              - var oninsuff = ob[prop].oninsuff
                              - var checkOnInsuff = false
                              - if(oninsuff !=null && oninsuff > 0)
                                - checkOnInsuff = true
                              - oninsuff = oninsuff + ""
                              - var checkOnFill = false
                              - if(onfill !=null && onfill > 0)
                                - checkOnFill = true
                              - onfill = onfill + ""
                              - var adminIntro = ""
                              - var lab = ob[prop].lab
                              - selectedlang = ob[prop].lang
                              - var ob = labs
                              - for(var prop in ob)
                                 - if(lab == ob[prop].labname)
                                    - var labadmin = ob[prop].admin
                                    - adminIntro = i18n.__("account.admin1")+ "<a href=\"mailto:'"+labadmin+"'\">" + labadmin + "</a>. " + i18n.__("account.admin2")
                                 - if(admin > 0)
                                   - if(email == ob[prop].admin)
                                      - var labadmin = ob[prop].labname
                                      - adminIntro = i18n.__("account.admin3")+ "<span class='labColor'>" + labadmin + "</span>. " + i18n.__("account.admin4")
                              - if(!name)
                                  - name = "..."
                              - if(!email)
                                  - email = "..."
                              - if(!surname)
                                  - surname = "..."
                              - if(!tel)
                                  - tel = "..."
                              - if(!lab)
                                  - lab = "..."
                              
                              div(style="float:left;", class="accountdetailWidth")
                                div(class="accountdetail accountdetail-header labColor animated fadeInUp")=i18n.__("account.form.firstname")
                                div(class=" accountdetail accountdetail-header labColor animated fadeInUp")=i18n.__("account.form.lastname")
                                div(style="background-color: rgb(61, 157, 203);" class=" accountdetail accountdetail-header labColor animated fadeInUp")=i18n.__("account.form.email")
                              div(class="wrapped accountdetailMargin")
                                div(style="margin-bottom:30px;", class="accountdetail accountdetailRowMargin animated fadeInDown")
                                  - var nametrunc = name
                                  - if(nametrunc.length > 19)
                                    - nametrunc = nametrunc.substr(0, 18) + '...'
                                  span(id="name")!=nametrunc + " "
                                  form(action="/changeDetails" id="changename" method="post" class="nameform" style="top: -5px; position: relative;")
                                    input(name="valuedetail" type="text" id="valuedetail" placeholder=nametrunc)
                                    input(name="column" type="hidden" id="column" value="name")
                                    input(name="formemail" type="hidden" id="formemail" value=email)
                                  span(onclick="pencilname()", id="pencilname", class="fa fa-pencil labColor")
                                  span(onclick="updatenameform()", id="checkname", class="fa fa-check labColor")
                                div(style="margin-bottom:30px;", class="accountdetail accountdetailRowMargin animated fadeInDown")
                                  - var surnametrunc = surname
                                  - if(surnametrunc.length > 19)
                                    - surnametrunc = surnametrunc.substr(0, 18) + '...'
                                  span(id="surname")!= surnametrunc + " "
                                  form(action="/changeDetails" id="changesurname" method="post" class="surnameform" style="top: -5px; position: relative;")
                                    input(name="valuedetail" type="text" id="valuedetail" placeholder=surnametrunc)
                                    input(name="column" type="hidden" id="column" value="surname")
                                    input(name="formemail" type="hidden" id="formemail" value=email)
                                  span(onclick="pencilsurname()", id="pencilsurname", class="fa fa-pencil labColor")
                                  span(onclick="updatesurnameform()", id="checksurname", class="fa fa-check labColor")
                                - var emailtrunc = email
                                - if(email.length > 19)
                                  - emailtrunc = emailtrunc.substr(0, 18) + '...'
                                div(style="margin-bottom:30px;", class="accountdetail accountdetailRowMargin animated fadeInDown")!= emailtrunc
                              div(style="float:left;", class="accountdetailWidth")
                                div(class=" accountdetail accountdetail-header labColor animated fadeInUp")=i18n.__("account.form.tel")
                                div(style="background-color: rgb(61, 157, 203);" class=" accountdetail accountdetail-header labColor animated fadeInUp")=i18n.__("account.form.lab")
                                div(class=" accountdetail accountdetail-header labColor animated fadeInUp", style="/*font-weight:bold;border-width: thin;width: 70px;*/")=i18n.__("account.form.lang")
                              div(class="wrapped accountdetailMargin")
                                div(style="margin-bottom:30px;", class="accountdetail accountdetailRowMargin animated fadeInDown")
                                  span(id="tel")!= tel + " "
                                  form(action="/changeDetails" id="changetel" method="post" class="telform" style="top: -5px; position: relative;")
                                    input(name="valuedetail" type="tel" id="valuedetail" placeholder=tel)
                                    input(name="column" type="hidden" id="column" value="tel")
                                    input(name="formemail" type="hidden" id="formemail" value=email)
                                  span(onclick="penciltel()", id="penciltel" class="fa fa-pencil labColor")
                                  span(onclick="updatetelform()", id="checktel" class="fa fa-check labColor")
                                - var labtrunc = lab
                                  - if(labtrunc.length > 19)
                                    - labtrunc = labtrunc.substr(0, 18) + '...'
                                div(style="margin-bottom:30px;", class="accountdetail accountdetailRowMargin animated fadeInDown")!= labtrunc
                                div(style="margin-bottom:30px;width: 75px;", class="accountdetail accountdetailRowMargin animated fadeInDown")
                                  span(id="lang")
                                  form(action="/changeDetails" id="changelang" method="post" class="langform" style="top: -25px; position: relative;")
                                    span(class="fa fa-sort accountlang" style="color: #8a6d3b;top: 29px; position: relative; font-size: 14pt; margin-left: 15px;z-index:-1;")
                                    select(name="selectlang" type="text" id="selectlang" class="form-control" style="border-color:#3d9dcb;margin-bottom:10px;background-color: transparent;" placeholder="")
                                      option(value="en",style="font-weight:bold",selected=(selectedlang==="en" ? "selected" : undefined))= "en"
                                      option(value="fr",style="font-weight:bold",selected=(selectedlang==="fr" ? "selected" : undefined))= "fr"
                                    input(name="column" type="hidden" id="column" value="lang")
                                    input(name="valuedetail" type="hidden" id="valuedetail" value="")
                                    input(name="formemail" type="hidden" id="formemail" value=email)
                                  script.
                                    window.onload = function() {
                                      document.getElementById("selectlang").onchange = function() {
                                        console.log("changing language " + $('#selectlang').val());
                                        $('#changelang').find($('input#valuedetail')).val($('#selectlang').val());
                                        $('#changelang').submit();      
                                      };
                                    };
              div(style="margin-top: -70px;float: left;" class="mobileonly4 threepointssep")
              div(class="results notify animated fadeIn", style="padding-left: 0px;padding-right: 0px;")
                h3(style="text-align: center;margin-top: 10px;padding-left: 10px;padding-right: 20px;")
                  span(style="color: #2975b4;margin-right: 10px;" class="fa fa-envelope")
                  span!= i18n.__("account.notify.title")
                div(class="reportlabelwidth reportlabelwidth3", style="width: 40%;padding-right: 20px;margin-top: 10px;")
                  label(for="emailOnInsuff" style="font-weight: bold;")!= i18n.__("account.notify.oninsuff")
                  div(class="checkboxThree")
                    form(action="/changeDetails" id="changeoninsuff" method="post" class="oninsuffform")
                      input(type="checkbox" name="emailOnInsuff" id="emailOnInsuff" value="oninsuff" checked=(checkOnInsuff===true ? "checked" : undefined))
                      input(name="valuedetail" type="hidden" id="valuedetail" value=oninsuff)
                      input(name="column" type="hidden" id="column" value="oninsuff")
                      input(name="formemail" type="hidden" id="formemail" value=email)
                    label(for="emailOnInsuff" class="labelcheck shadow labelcheckoninsuff")
                div(class="reportlabelwidth reportlabelwidth3", style="width: 40%;padding-right: 20px;margin-top: 10px;")
                  label(for="emailOnFill" style="font-weight: bold;")!= i18n.__("account.notify.onfill")
                  div(class="checkboxThree")
                    form(action="/changeDetails" id="changeonfill" method="post" class="onfillform")
                      input(type="checkbox" name="emailOnFill" id="emailOnFill" value="onfill" checked=(checkOnFill===true ? "checked" : undefined))
                      input(name="valuedetail" type="hidden" id="valuedetail" value=onfill)
                      input(name="column" type="hidden" id="column" value="onfill")
                      input(name="formemail" type="hidden" id="formemail" value=email)
                    label(for="emailOnFill" class="labelcheck shadow labelcheckonfill")

        - // if(!resultsAccount || resultsAccount == undefined)
          div(style="margin-top: -70px;float: left;" class="threepointssep")
          div(class="texthalf")
            span!=adminIntro + " <span id='showteam' class='labColor' style='font-weight:bold'><div class='buttons'><button type='submit' class='btn btn-success btn-lg btn-block shadow teamaccountbuttonwidth' id='teamTitle' style='width: 278px;'>" + i18n.__("account.button") + "</button></div></span>"
            script.
              $('#teamTitle').click(function() {
                  if($('#team').is(":visible")){
                    $('.accountlogo').show();
                    $('#team').hide();
                    $('#teamTitle').html("#{i18n.__("account.button")}");
                    $('#teamTitle').css('background-color','#8a6d3b');
                    $("#teamTitle").mouseenter(function() {
                    $(this).css("background", "#2975b4");
                    }).mouseleave(function() {
                         $(this).css("background", "#8a6d3b");
                    });
                  } else {
                    $('.accountlogo').hide();
                    $('#team').show();
                    $('#teamTitle').html("#{i18n.__("account.hide")}");
                    $('#teamTitle').css('background-color','#2975b4');
                    $("#teamTitle").mouseenter(function() {
                    $(this).css("background", "#8a6d3b");
                    }).mouseleave(function() {
                         $(this).css("background", "#2975b4");
                    });
                    console.log("team inside: " + $('#team').offset().top);
                    $(window).scrollTop($('#team').offset().top).scrollLeft($('#team').offset().left);
                  }   
              });
          //div(style="margin-top: -40px;", class="threepointssep")    
          div(id="team")
            //div(class="threepoints noshowmobile")
            h3!=i18n.__("account.team.desc1") + labname + i18n.__("account.team.desc2")
            p(class="texthalf")!=i18n.__("account.team.subdesc1")+ dept + i18n.__("account.team.subdesc2")

            table(class="table table-striped table-responsive table-hover" )
               thead
                  tr
                     th!= i18n.__("account.team.name")
                     th!=i18n.__("account.team.email")
               tbody      
                    - var ob2 = team
                    - for(var prop in ob2)
                      tr
                       td #{ob2[prop].name + " " + ob2[prop].surname }
                       td #{ob2[prop].email}
          script.
            if($('#team').is(":visible")){
              
            }
            $(document).ready(function(){
              $('#changetel input[id="valuedetail"]').mask("(999) 999-9999");
            }); 
        div(class="slide-out-tip-div desktabonly", style="display:none;z-index:1;position: fixed;top: 25% !important;max-height:400px;z-index: 1;")
            a(class="handle" href="last-transactions", title='#{i18n.__("search.tip.title")}', style="right: -60px;,left:-85px;top:25px;")!=Content
            div(style="padding: 4px;color:white;top: -45px;position: relative;")
                p(style="font-size: 12pt;")!= i18n.__("account.tip.header")
                div(style="position: relative;float: right;width: 250px;font-size: 9pt;line-height: 1.3;border-radius: 4px;max-height:320px;overflow:auto;")
                  span!= i18n.__("account.tip.desc")
        script.
         $(function(){
             $('.slide-out-tip-div').tabSlideOut({
                 imgPos: 85,
                 tabHandle: '.handle',                              //class of the element that will be your tab
                 pathToTabImage: 'images/bouee3.png',          //path to the image for the tab (optionaly can be set using css)
                 imageHeight: '50px',                               //height of tab image
                 imageWidth: '50px',                               //width of tab image    
                 tabLocation: 'right',                               //side of screen where tab lives, top, right, bottom, or left
                 speed: 300,                                        //speed of animation
                 action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
                 topPos: '25% !important',                                   //position from the top
                 fixedPosition: true                               //options: true makes it stick(fixed position) on scroll
             });
         });
        span(class="desktabonly", id="checkdisplay")
        script.
          $( document ).ready(function() {
            console.log( "account document loaded" );
            if ($("#checkdisplay").css("display") == "none" ){
              $('.slide-out-tip-div').hide();
            } else {
              $('.slide-out-tip-div').show();
            }

            var c = 0;
              if($('#emailOnFill:checked').length > 0){
                c = 1;
              }
            $('#changeonfill').find('.valuedetail').val($('#emailOnFill:checked').length);
            if(c == 1){
                $('.labelcheckonfill').css("left","30px");
                $('.labelcheckonfill').css("background","#2975b4");
              } else {
                $('.labelcheckonfill').css("left","0px");
                $('.labelcheckonfill').css("background","#8a6d3b");
              }

            $( ".labelcheckonfill" ).click(function() {
              var v = 1;
              if($('#emailOnFill:checked').length > 0){
                v = 0;
              }
              var change = 0;
              var oninsuff = "#{onfill}";
              console.log("onfill: " + onfill);
              console.log("v: " + v);

                
              if(v == 1){
                $('.labelcheckonfill').css("left","30px");
                $('.labelcheckonfill').css("background","#2975b4");
                change = 1;
              } else {
                $('.labelcheckonfill').css("left","0px");
                $('.labelcheckonfill').css("background","#8a6d3b");
              }
                $('#changeonfill').find('#valuedetail').val(v);
                $('#changeonfill').submit();
              
            });

            var c = 0;
              if($('#emailOnInsuff:checked').length > 0){
                c = 1;
              }
            $('#changeoninsuff').find('.valuedetail').val($('#emailOnInsuff:checked').length);
            if(c == 1){
                $('.labelcheckoninsuff').css("left","30px");
                $('.labelcheckoninsuff').css("background","#2975b4");
              } else {
                $('.labelcheckoninsuff').css("left","0px");
                $('.labelcheckoninsuff').css("background","#8a6d3b");
              }

            $( ".labelcheckoninsuff" ).click(function() {
              var v = 1;
              if($('#emailOnInsuff:checked').length > 0){
                v = 0;
              }
              var change = 0;
              var oninsuff = "#{oninsuff}";
              console.log("oninsuff: " + oninsuff);
              console.log("v: " + v);

                
              if(v == 1){
                $('.labelcheckoninsuff').css("left","30px");
                $('.labelcheckoninsuff').css("background","#2975b4");
                change = 1;
              } else {
                $('.labelcheckoninsuff').css("left","0px");
                $('.labelcheckoninsuff').css("background","#8a6d3b");
              }
                $('#changeoninsuff').find('#valuedetail').val(v);
                $('#changeoninsuff').submit();
              
            });
          });
