extends layout

block content


    div(class="container login marginbottom")
        div(style="float: left; width: 100%;")
            h1= i18n.__("account.title") + labyoker + "."
            p(style="padding-bottom: 20px;")!= i18n.__("account.subtitle")
            - if(resultsAccount)
                h3= i18n.__("account.success")
                   span(style="color: #3d9dcb;")=" " + resultsAccount
                   span="!"                 
            div(class="table-responsive center")
                         -var ob = userDetails
                         - var j = 1
                         -for(var prop in ob)
                            - var i = prop % 2
                            - var classname = "";
                            - if(i==0)
                                - classname = "active"
                            - if(prop==1)
                                - classname = "you info-best"
                            - var name = ob[prop].name
                            - var surname = ob[prop].surname
                            - var email = ob[prop].email
                            - var tel = ob[prop].tel
                            - var admin = ob[prop].admin
                            - var adminIntro = ""
                            - var lab = ob[prop].lab
                            - var ob = labs
                            - for(var prop in ob)
                               - if(lab == ob[prop].labname)
                                  - var labadmin = ob[prop].admin
                                  - adminIntro = i18n.__("account.admin1")+ "<a href=\"mailto:'"+labadmin+"'\">" + labadmin + "</a>. " + i18n.__("account.admin2")
                               - if(admin > 0)
                                 - if(email == ob[prop].admin)
                                    - var labadmin = ob[prop].labname
                                    - adminIntro = i18n.__("account.admin3")+ "<span class='labColor'>" + labadmin + "</span>. " + i18n.__("account.admin4")
                            - if(!name)
                                - name = "..."
                            - if(!email)
                                - email = "..."
                            - if(!surname)
                                - surname = "..."
                            - if(!tel)
                                - tel = "..."
                            - if(!lab)
                                - lab = "..."
                            
                            div(style="float:left;", class="accountdetailWidth")
                              div(class="labColor accountdetail accountdetail-header", style="font-weight:bold;")=i18n.__("account.form.firstname")
                              div(class="labColor accountdetail accountdetail-header", style="font-weight:bold;")=i18n.__("account.form.lastname")
                              div(class="labColor accountdetail accountdetail-header", style="font-weight:bold;")=i18n.__("account.form.email")
                              div(class="labColor accountdetail accountdetail-header", style="font-weight:bold;")=i18n.__("account.form.tel")
                              div(class="labColor accountdetail accountdetail-header", style="font-weight:bold;")=i18n.__("account.form.lab")
                            div(class="wrapped accountdetailMargin")
                              div(style="margin-bottom:25px;", class="accountdetail")
                                span(id="name")!=name + " "
                                form(action="/changeDetails" id="changename" method="post" class="nameform" style="top: -5px; position: relative;")
                                  input(name="valuedetail" type="text" id="valuedetail" placeholder=name)
                                  input(name="column" type="hidden" id="column" value="name")
                                  input(name="formemail" type="hidden" id="formemail" value=email)
                                span(onclick="pencilname()", id="pencilname", class="fa fa-pencil labColor")
                                span(onclick="updatenameform()", id="checkname", class="fa fa-check labColor")
                              div(style="margin-bottom:25px;", class="accountdetail accountdetailRowMargin")
                                span(id="surname")!= surname + " "
                                form(action="/changeDetails" id="changesurname" method="post" class="surnameform" style="top: -5px; position: relative;")
                                  input(name="valuedetail" type="text" id="valuedetail" placeholder=surname)
                                  input(name="column" type="hidden" id="column" value="surname")
                                  input(name="formemail" type="hidden" id="formemail" value=email)
                                span(onclick="pencilsurname()", id="pencilsurname", class="fa fa-pencil labColor")
                                span(onclick="updatesurnameform()", id="checksurname", class="fa fa-check labColor")
                              div(style="margin-bottom:25px;", class="accountdetail accountdetailRowMargin") #{email}
                              div(style="margin-bottom:25px;", class="accountdetail accountdetailRowMargin")
                                span(id="tel")!= tel + " "
                                form(action="/changeDetails" id="changetel" method="post" class="telform" style="top: -5px; position: relative;")
                                  input(name="valuedetail" type="text" id="valuedetail" placeholder=tel)
                                  input(name="column" type="hidden" id="column" value="tel")
                                  input(name="formemail" type="hidden" id="formemail" value=email)
                                span(onclick="penciltel()", id="penciltel" class="fa fa-pencil labColor")
                                span(onclick="updatetelform()", id="checktel" class="fa fa-check labColor")
                              div(style="margin-bottom:25px;", class="accountdetail accountdetailRowMargin") #{lab}
        - if(!resultsAccount || resultsAccount == undefined)
          div
            span(class="yokeColor")!=adminIntro + " <span id='showteam' class='labColor' style='cursor:pointer;font-weight:bold'><div class='buttons'><button type='submit' class='btn btn-success btn-lg btn-block' id='teamTitle'>" + i18n.__("account.button") + "</button></div></span>"
            script.
              $('#showteam').click(function() {
                  if($('#team').is(":visible")){
                    $('#team').hide();
                    $('#teamTitle').html("Who's in your team?");
                    $('#teamTitle').css('background-color','#8a6d3b');
                    $("#teamTitle").mouseenter(function() {
                    $(this).css("background", "#2975b4");
                    }).mouseleave(function() {
                         $(this).css("background", "#8a6d3b");
                    });
                  } else {
                    $('#team').show();
                    $('#teamTitle').html("Hide");
                    $('#teamTitle').css('background-color','#2975b4');
                    $("#teamTitle").mouseenter(function() {
                    $(this).css("background", "#8a6d3b");
                    }).mouseleave(function() {
                         $(this).css("background", "#2975b4");
                    });
                    console.log("team inside: " + $('#team').offset().top);
                    $(window).scrollTop($('#team').offset().top).scrollLeft($('#team').offset().left);
                  }   
              });
              
          div(id="team")
            div(style="background-color: #3d9dcb; height: 2px; margin-bottom: 30px; margin-top: 30px;")
            h3!=i18n.__("account.team.desc1") + labname + i18n.__("account.team.desc2")
            p!=i18n.__("account.team.subdesc1")+ dept + i18n.__("account.team.subdesc2")

            table(class="table table-striped table-responsive table-hover" )
               thead
                  tr
                     th!= i18n.__("account.team.name")
                     th!=i18n.__("account.team.email")
               tbody      
                    - var ob2 = team
                    - for(var prop in ob2)
                      tr
                       td #{ob2[prop].name + " " + ob2[prop].surname }
                       td #{ob2[prop].email}
          script.
            if($('#team').is(":visible")){
              
            }
            $(document).ready(function(){
              $('#changetel input[id="valuedetail"]').mask("(999) 999-9999");
            }); 