extends layout

block content


    div(class="container login")
        div(style="float: left;")
            a(href="/search")
                img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Hello ' + labyoker + "."
            p
              span="This page is dedicated to " 
              span(style="color: #3d9dcb;")="you. "
              span="If you wish to change your personal details such as your telephone number or Lab information."
            div(class="table-responsive")
                         -var ob = userDetails
                         - var j = 1
                         -for(var prop in ob)
                            - var i = prop % 2
                            - var classname = "";
                            - if(i==0)
                                - classname = "active"
                            - if(prop==1)
                                - classname = "you info-best"
                            - var name = ob[prop].name
                            - var surname = ob[prop].surname
                            - var email = ob[prop].email
                            - var tel = ob[prop].tel
                            - var admin = ob[prop].admin
                            - var adminIntro = ""
                            - var lab = ob[prop].lab
                            - if(!name)
                                - name = "..."
                            - if(!email)
                                - email = "..."
                            - if(!surname)
                                - surname = "..."
                            - if(!tel)
                                - tel = "..."
                            - if(admin == 1)
                                - adminIntro = "You are an administrator."
                            - if(!lab)
                                - lab = "..."
                            p(class="yokeColor", style="font-weight:bold")!=adminIntro
                            div(style="float:left;")
                              p(class="labColor", style="font-weight:bold")="Name"
                              p(class="labColor", style="font-weight:bold")="Surname"
                              p(class="labColor", style="font-weight:bold")="Email"
                              p(class="labColor", style="font-weight:bold")="Tel"
                              p(class="labColor", style="font-weight:bold")="Lab"
                            div(style="margin-left: 100px;", class="wrapped")
                              p!= name" + " "
                                span(class="fa fa-pencil")
                              p!= surname + " "
                                span(class="fa fa-pencil")
                              p #{email}
                              p!= tel + " "
                                span(class="fa fa-pencil")
                              p #{lab}



