extends layout

block content                      
    div(class="container login container2 containertop", style="text-align: center;position: relative;display:none")
        a(href="/search")
            img(src="/images/yoke4.png", alt="The Yoke", style="border-width:0px;")
        if !messageSuccess
            h1= i18n.__("index.changepass.message3")
            p!= i18n.__("index.changepass.message1")
            div(id="ctl00_Div2" class="frontdiv results")
                div(class="alert alert-danger alertshadow", id="messagejs", style="display:none")
                if message
                    div(class="alert alert-danger-report alertshadow")!= message
                    script.
                        $('#messagejs').hide();
                if displayForm
                    form(action="/changepassword" method="post" id="changepwd")
                        input(name="hashid" type="hidden" id="hashid" value=hashid placeholder=hashid)
                        div(class="textentry")
                            input(name="pass" type="password" id="pass" class="pass form-control form-control0" placeholder=i18n.__("index.changepass.placeholder1"))
                            span(class="fa fa-key" style="top: -20px;position: relative;float: right;color: rgba(138, 109, 59, 0.61);")
                        div(class="textentry")
                            input(name="repass" type="password" id="repass" class="repass form-control form-control0" placeholder=i18n.__("index.changepass.placeholder2"))
                            span(class="fa fa-key" style="top: -20px;position: relative;float: right;color: rgba(138, 109, 59, 0.61);")
                        div(class="buttons")
                            button.btn.btn-success.btn-lg.btn-block(type='button' class="changepassword" id="changebutton" style="width: 100%;")!= i18n.__("index.changepass.button")
                            //img(src="/images/lab.png", alt="The Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;display:none;")
        if messageSuccess
            div(id="ctl00_Div2" class="frontdiv")
                h1= i18n.__("index.changepass.success")
                p!= messageSuccess
              
        script.
            $('#changebutton').click(function() {
                console.log("repass: " + $('#repass').val());
                console.log("pass: " + $('#pass').val());
                if($('#pass').val() != "" && $('#repass').val() == $('#pass').val()){
                    console.log("go on!");
                    $('#changepwd').submit();
                } else if($('#pass').val() == ""  || $('#pass').val() == undefined){
                    console.log("stop!");
                    $('#messagejs').html("#{i18n.__("index.changepass.message2")}");
                    $('#messagejs').show();
                    return false;
                } else if($('#repass').val() == undefined || $('#repass').val() == undefined){
                    console.log("stop!");
                    $('#messagejs').html("#{i18n.__("index.register.message4")}");
                    $('#messagejs').show();
                    return false;
                } 
            });

            $(document).ready(function(){
                //$('#tel').mask("(999) 999-9999");
                $( "#pass" ).focus(function() {
                  $(this).next(".fa-key").css("color","rgba(61, 157, 203, 0.78)");
                });
                $( "#repass" ).focus(function() {
                  $(this).next(".fa-key").css("color","rgba(61, 157, 203, 0.78)");
                });
                var toppinglogin = sessionStorage.getItem('toppinglogin');
                var topping = sessionStorage.getItem('topping');
                if(toppinglogin){
                    $(".login").css("margin-top", toppinglogin + "px");
                }
                    
                $(".login").css("display", "block");
                var h = $(window).height();
                var wi = $(window).width();


                $(function(){
                    $.fn.center = function () {
                    //var topping = $('.topping').attr("title");

                    
                    var t = ($(window).height() - this.height() ) / 2  ;

                    console.log("topping after: " + topping);
                    var storedheight = sessionStorage.getItem('storedheight');
                    
                    
                    console.log("h window: " + h);
                    console.log("sup forgot: " + (topping && parseInt(topping) > 0));
                    
                    if(t>0){
                    sessionStorage.setItem('topping', t - 5);
                    sessionStorage.setItem('toppinglogin', t - 5);
                    sessionStorage.setItem('storedheight', h);
                    }
                    
                    console.log("t login: " + t);
                    console.log("height login : " + this.height());
                    console.dir(this);
                    console.log("height login 2 : " + $(".login").height());
                    if(t > 0){
                    console.log("topping login: " + topping);
                    this.css("margin-top",  t + "px");
                    this.css("-webkit-transition","all .5s ease");
                    this.css("transition","all .5s ease");
                    }
                    
                    //$('.topping').attr("title",t);
                    
                    //this.css("left", ( $(window).width() - this.width() ) / 2 + "px");
                    return this;
                    }

                    if(!toppinglogin && wi > 440){
                        $(".login").center();
                    }

                    $(window).resize(function(){
                        if(wi > 440){
                            sessionStorage.removeItem('toppinglogin');
                            $(".login").center();
                        }
                    });

                });
            });       
