extends layout

block content


  div(class="container login front container2", style="margin-top: 4%;text-align: center;position: relative;")
     a(href="/search")
        img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
       div
        if !userfound && !usernotfound
            h1= i18n.__("forgot.title")
            p!= i18n.__("forgot.subtitle")
            div(id="ctl00_Div2" class="frontdiv")
                if message
                    div(class="alert alert-danger")!= message
                form(action="/forgot" method="post")
                    div(style="margin-bottom: 20px;")
                        div(class="textentry")
                            span(class="fa fa-user" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
                            input(name="forgotuser" type="text" id="forgotuser" class="form-control" placeholder=i18n.__("forgot.username") style="border-color:#8a6d3b")
                        div(class="buttons")
                        button.btn.btn-success.btn-lg.btn-block(type='submit',style='width:85%')= i18n.__("forgot.button")
                        img(src="images/envelope_email.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -45px; float: right;")

        if userfound
            div(id="ctl00_Div2" class="frontdivs")
                    h1(class="centerText")
                        span= i18n.__("forgot.desc1")
                        span(class="labColor")=" " + userfound
                        span="."
                    p!= i18n.__("forgot.desc2")
                    
            
        if usernotfound
            div(id="ctl00_Div2" class="frontdiv")
                    h1(class="centerText")
                        span= i18n.__("forgot.fail.desc")
                    p!=message
                    if !noforgotform
                        form(action="/forgot" method="post")
                            div(style="margin-bottom: 20px;")
                                div(class="textentry")
                                    input(name="forgotuser" type="text" id="forgotuser" class="form-control" placeholder=i18n.__("forgot.username") style="border-color:#8a6d3b")
                                div(class="buttons")
                                button.btn.btn-success.btn-lg.btn-block(type='submit',style='width:85%')= i18n.__("forgot.button")
                                img(src="images/email_icon.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -45px; margin-top: -45px;float: right;")
        

