extends layout

block content
  div(id="pageloader")
      div(class="spinner")
        div(class="bounce1")
        div(class="bounce2")
        div(class="bounce3")

  div(class="container login front container2 containertop", style="text-align: center;position: relative;")
     a(href="/search")
        img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
       div
        if !userfound && !usernotfound
            h1= i18n.__("forgot.title")
            p(class="centralize")!= i18n.__("forgot.subtitle")
            div(id="ctl00_Div2" class="frontdiv results")
                if message
                    div(class="alert alert-danger")!= message
                form(action="/forgot" method="post")
                    div(style="margin-bottom: 20px;")
                        div(class="textentry")
                            span(class="fa fa-user" style="top: 15px;position: relative;float: right;color: #3d9dcb;")
                            input(name="forgotuser" type="text" id="forgotuser" class="form-control" placeholder=i18n.__("forgot.username"))
                        div(class="buttons")
                        button.btn.btn-success.btn-lg.btn-block.shadow.resizebutton(type='submit')= i18n.__("forgot.button")
                        img(src="images/envelope_email.png", alt="The Lab", title="Lab", style="border-width:0px; width: 45px; margin-top: -44px;float: right;position:relative;left:25px;display:none;", class="noshowmobile767")

        if userfound
            div(id="ctl00_Div2" class="frontdivs")
                    h1(class="centerText")
                        span= i18n.__("forgot.desc1")
                        span(class="labColor")=" " + userfound
                        span="."
                    p!= i18n.__("forgot.desc2")
                    
            
        if usernotfound
            div(id="ctl00_Div2" class="frontdiv")
                    h1(class="centerText")
                        span= i18n.__("forgot.fail.desc")
                    p!=message
                    if !noforgotform
                        form(action="/forgot" method="post")
                            div(style="margin-bottom: 20px;")
                                div(class="textentry")
                                    input(name="forgotuser" type="text" id="forgotuser" class="form-control" placeholder=i18n.__("forgot.username") style="border-color:#8a6d3b")
                                div(class="buttons")
                                button.btn.btn-success.btn-lg.btn-block.shadow.resizebutton(type='submit')= i18n.__("forgot.button")
                                img(src="images/envelope_email.png", alt="The Lab", title="Lab", style="border-width:0px; width: 45px; margin-top: -44px;float: right;position:relative;left:25px;", class="noshowmobile767")

  script.
    $( document ).ready(function() {
              $(function(){
                $.fn.center = function () {
                //var topping = $('.topping').attr("title");
                var t = ($(window).height() - this.height() ) / 2 - 70 ; 
                /*console.log("topping forgot: " + (topping != ''));
                console.log("sup forgot: " + (topping > 0));
                if (topping > 0) {
                    
                } else if(topping) {
                    t = topping;
                }*/
                if(t > 0){
                this.css("margin-top",  t + "px");
                this.css("transition","all .5s ease");
                }
                
                //$('.topping').attr("title",t);
                //this.css("left", ( $(window).width() - this.width() ) / 2 + "px");
                return this;
                }

                $(".login").center();   // on page load div will be entered                                               

                $(window).resize(function(){ // whatever the screen size this
                $(".login").center();       // this will make it center when
                });                          // window resize happens

            });
    });
