extends layout

block content
                           
  div(class="container help")
   div(class="row")
    div(class="col-xs-12")
     //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
     h2!= title
     div(style="text-align:center").alert.alert-warning!="How To LabYoke?"
     p!= "You have to come to the right place to share your chemicals with your colleagues in a fun and efficient environment."
     p!= "You will be ranked against your fellow Netlighters every day, and the top three will get prizes directly brought from Brazil (no joke) when the tournament is over! <br/>"

     h4!= "This is how it works:"
     h1()
        //span!= 'Order system'
     ul.pointsLayout.alert.alert-info
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b><br/><br/>

     h4 Examples:
     ul(class="pointsLayout")
         table(class="table table-striped table-responsive table-hover" )
           thead
              tr
                 th!='Name'
                 th!='Lab'
                 th!='Contact'
           tbody
              tr
                 td!= "James Hewitt"
                 td!= "lab1"
                 td
                  a(href="#")
                    img(src="images/call2.png", alt="Call James", title="Call James", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/email.png", alt="Email James", title="Email James", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/message.ico", alt="Message James", title="Message James", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
              tr
                 td!= "Marge Harvey"
                 td!= "lab2
                 td
                  a(href="#")
                    img(src="images/call2.png", alt="Call Marge", title="Call Marge", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/email.png", alt="Email Marge", title="Email Marge", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/message.ico", alt="Message Marge", title="Message Marge", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
              tr
                 td!= "Meghan Jones"
                 td!= "lab3"
                 td
                  a(href="#")
                    img(src="images/call2.png", alt="Call Meghan", title="Call Meghan", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/email.png", alt="Email Meghan", title="Email Meghan", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/message.ico", alt="Message Meghan", title="Message Meghan", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
              tr
                 td!= "Laura Willet"
                 td!= "lab3"
                 td
                  a(href="#")
                    img(src="images/call2.png", alt="Call Laura", title="Call Laura", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/email.png", alt="Email Laura", title="Email Laura", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/message.ico", alt="Message Laura", title="Message Laura", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
              tr
                 td!= "Mark Mitchelson"
                 td!= "lab1"
                 td
                  a(href="#")
                    img(src="images/call2.png", alt="Call Mark", title="Call Mark", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/email.png", alt="Email Mark", title="Email Mark", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                  a(href="#")
                    img(src="images/message.ico", alt="Message Mark", title="Message Mark", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")                                                             

     p.alert.alert-success
           //img(src="/images/brazil_help_contact.png" alt="" style="border-width:0px;float:center;width:75px")
           span!= ''+netlighter +', you can of course always reach us at:'
           a(href="mailto:labyoke@gmail.com")!= ' labyoke@gmail.com <br/>'
               
               
