extends layout

block content
   //div(id="pageloader")
   //   div(class="spinner")
   //     div(class="bounce1")
   //     div(class="bounce2")
   //     div(class="bounce3")
   //img(src="/images/bouee6.png" style="display:none;")
   - var margintopchoice = "5%"
   - var helpheader = " helpheader"
   - if (loggedIn==true)
     - margintopchoice = "130px"
     - helpheader = ""
   div(class="container container2 moveFromLeft")
     div(class="fronthelp" + helpheader, style="margin-top:"+margintopchoice)
         a(href="/search")
           img(src="/images/bouee6.png", alt="The Yoke",  title="Yoke", class="yokelogohelp")
     div
      div
       //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
       h1!= i18n.__("help.title") + "."
       div(class="pointsLayout alert results")
          span= i18n.__("help.desc1")
          span!= i18n.__("help.desc3")
      span(class="threedown threepointssep", style="margin-bottom: 25px;")
      div(class="helpcontainer")
        div(style="text-align: center;")
          span(class="fa fa-gear helpheaderleft", style="")
          span(class="fa fa-tree helpheaderright", style="")
          span(class="fa fa-gear helpheaderleft2", style="width: 100%;")
        div
         div.pointsLayout.alert.resultsshadow.helpleft(style="")
          span!= i18n.__("help.desc5")
         //h3!= i18n.__("help.desc6")
         span(class="fa fa-tree helpheaderright2", style="width: 100%;text-align: center;")
         div.pointsLayout.alert.resultsshadow.helpright(style="")
          span!= i18n.__("help.desc7")
        - if (loggedIn==true)
          div(style="clear:both;width: 100%;background-color: rgba(61, 157, 203, 0.79);color: white;text-align: center;padding-bottom: 15px;font-weight: bold;display:inline-block;padding-right: 0px;padding-left: 0px;", class="alert pointsLayout")
            div(style="width: 47%;float: left;margin-top: 20px;margin-left: 2%;")
              //p!="Search"
              video(width="100%", height="100%", controls="", style="margin-right: 20px;", poster="/videos/search_en.png", src="/videos/shares_en.mov")
            div(style="width: 47%;float: left;margin-top: 20px;margin-left: 2%;")
              //p!="Orders"
              video(width="100%", height="100%", controls="", style="margin-right: 20px;", poster="/videos/shares_en.png", src="/videos/orders_en.mov")
            div(style="width: 47%;float: left;margin-top: 20px;margin-left: 2%;")
              //p!="Shares"
              video(width="100%", height="100%", controls="", style="margin-right: 20px;", poster="/videos/orders_en.png", src="/videos/shares_en.mov")
            div(style="width: 47%;float: left;margin-top: 20px;margin-left: 2%;")
              //p!="Profile"
              video(width="100%", height="100%", controls="", style="margin-right: 20px;", poster="/videos/profile_en.png", src="/videos/orders_en.mov")
                //source(src="/movie4.mov" type="video/ogg")
            - if(isLoggedInAdmin == true)
              div(style="width: 47%;float: left;margin-top: 20px;margin-left: 2%;")
                //p!="Admins"
                video(width="100%", height="100%", controls="", style="margin-right: 20px;", poster="/videos/admins_en.png", src="/videos/shares_en.mov")
                  //source(src="/movie4.mov" type="video/ogg") 
              div(style="width: 47%;float: left;margin-top: 20px;margin-left: 2%;")
                //p!="Reports"
                video(width="100%", height="100%", controls="", style="margin-right: 20px;", poster="/videos/reports_en.png", src="/videos/orders_en.mov")
                  //source(src="/movie4.mov" type="video/ogg")             

          div.alert.pointsLayout(style="clear:both;width: 100%; background-color: rgba(61, 157, 203, 0.79); color: white; text-align: center; padding-bottom: 15px;font-weight: bold;")
             span!= ''+labyoker + i18n.__("help.desc9")
             a(href="mailto:labyoke@gmail.com",style="color: rgb(255, 226, 175);")!= ' labyoke@gmail.com <br/>'
   span(class="threepointssep", style="margin-top: -40px;")                 
                 
