extends layout

block content
   div(id="pageloader")
      div(class="spinner")
        div(class="bounce1")
        div(class="bounce2")
        div(class="bounce3")
   //img(src="/images/bouee6.png" style="display:none;")
   - var margintopchoice = "5%"
   - if (loggedIn==true)
     - margintopchoice = "140px"
   div(class="container container2 moveFromLeft")
     div(class="fronthelp", style="margin-top:"+margintopchoice)
         a(href="/search")
           img(src="/images/bouee6.png", alt="The Yoke",  title="Yoke", class="yokelogohelp")
     div
      div
       //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
       h1!= i18n.__("help.title") + "."
       div.pointsLayout.alert.results
          span= i18n.__("help.desc1")
       div.pointsLayout.alert.results
        span!= i18n.__("help.desc3")

      div(style="display:block;margin:0 auto;margin-top:25px;position: relative; left: 10%;")
        div
          span(class="fa fa-gear", style="float: left; width: 41%; font-size: 75pt; text-align: center; padding-right: 5%; color: #8a6d3b;")
          span(class="fa fa-tree", style="float: left; width: 35%; margin-right: 5px; font-size: 75pt; text-align: center; color: #2975b4;")
        div
         div.pointsLayout.alert.results.resultsshadow(style="float:left;width:33%;margin-right:5%;background-color: #ad9975; color: white;")
          span!= i18n.__("help.desc5")
         //h3!= i18n.__("help.desc6")
         div.pointsLayout.alert.alert-success.resultsshadow(style="float:left;width:33%; background-color: rgba(51, 122, 183, 0.86); color: white;")
          span!= i18n.__("help.desc7")
                                                           
       if (loggedIn==true)
          p.alert.alert-success(style="clear:both;")
             span!= ''+labyoker + i18n.__("help.desc9")
             a(href="mailto:labyoke@gmail.com")!= ' labyoke@gmail.com <br/>'
                 
                 
