extends layout

block content
                           
 div(class="container")
   - if (loggedIn!=true)
    div(class="front")
       a(href="/search")
         img(src="/images/yoke9.png", alt="The Yoke",  title="Yoke", class="yokelogo")
   - if (loggedIn==true)
    a(href="/search")
     img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
   div
    div
     //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
     h1!= title + "."
     div(style="text-align:center; color:white;margin-top: 15px;").alert.alert-warning.labColorBackground
      h3(style="margin-top: 10px;")="How To LabYoke?!"
     p!= "You have to come to the right place to share your chemicals with your colleagues in a fun and efficient environment."
     

     h3!= "This is how it works:"
     h1()
        //span!= 'Order system'
     ul.pointsLayout.alert.alert-info
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b><br/>
     h3="A title"
     p= "Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos."
     ul.pointsLayout.alert.alert-info
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
     h3="Another title"
     p= "Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos "
     ul.pointsLayout.alert.alert-info
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
        li Something about <br/> <b> something about </b>
     h3="Another other title"
     p= "Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tosSome How tos Some How tos Some How tos Some How tos Some How tos Some How tos Some How tos "
     ul.pointsLayout.alert.alert-info
        li Something about <br/> <b> something about </b>

     h3 Examples:
     ul(class="pointsLayout")
         table(class="table table-striped table-responsive table-hover" )
           thead
              tr
                 th!='Agent'
                 th!='Vendor'
                 th!='Location'
                 th!='Order'
           tbody
              tr
                 td!= "agent1"
                 td!= "vendor1"
                 td!= "James Hewitt"
                 td
                  span
                    img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")
              tr
                 td!= "agent2"
                 td!= "vendor2"
                 td!= "Marge Harvey"
                 td
                  span
                    img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")
              tr
                 td!= "agent3"
                 td!= "vendor3"
                 td!= "Meghan Jones"
                 td
                  span
                    img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")
              tr
                 td!= "agent3"
                 td!= "vendor3"
                 td!= "Laura Willet"
                 td
                  span
                    img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")
              tr
                 td!= "agent4"
                 td!= "vendor4"
                 td!= "Mark Mitchelson"
                 td
                  span
                    img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")                                                           
     if (loggedIn==true)
        p.alert.alert-success
           span!= ''+labyoker +', you can of course always reach us at:'
           a(href="mailto:labyoke@gmail.com")!= ' labyoke@gmail.com <br/>'
               
               
