extends layout

block content
   //div(id="pageloader")
   //   div(class="spinner")
   //     div(class="bounce1")
   //     div(class="bounce2")
   //     div(class="bounce3")
   //img(src="/images/bouee6.png" style="display:none;")
   - var margintopchoice = "5%"
   - var helpheader = " helpheader"
   - if (loggedIn==true)
     - margintopchoice = "130px"
     - helpheader = ""
   div(class="container container2 moveFromLeft")
     div(class="fronthelp" + helpheader, style="margin-top:"+margintopchoice)
         a(href="/search")
           img(src="/images/bouee6.png", alt="The Yoke",  title="Yoke", class="yokelogohelp")
     div
      div
       //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
       h1!= i18n.__("help.title") + "."
       div(class="pointsLayout alert results")
          span= i18n.__("help.desc1")
          span!= i18n.__("help.desc3")
      span(class="threedown threepointssep", style="margin-bottom: 25px;")
      div(class="helpcontainer")
        div(style="text-align: center;")
          span(class="fa fa-user-secret helpheaderleft", style="")
          span(class="fa fa-question helpheaderright", style="")
          span(class="fa fa-user-secret helpheaderleft2", style="width: 100%;")
        div
         div.pointsLayout.alert.resultsshadow.helpleft(style="")
          span(style=" font-size: 20pt; font-weight: bold; text-align: center; margin: 0 auto; display: block;margin-left: -30px;")!= i18n.__("help.titledesc5")
          span!= i18n.__("help.desc5")
         //h3!= i18n.__("help.desc6")
         span(class="fa fa-question helpheaderright2", style="width: 100%;text-align: center;")
         div.pointsLayout.alert.resultsshadow.helpright
          span(style=" font-size: 20pt; font-weight: bold; text-align: center; margin: 0 auto; display: block;")!= i18n.__("help.titledesc7")
          span!= i18n.__("help.desc7")
        - if (loggedIn==true)
          div(style="text-align: center;clear: both;")
            span(class="threepointssep", style="margin-bottom: 40px;")
            span(class="fa fa-eye helpcamera")

          div(class="alert pointsLayout videobox")
            p(style="font-size: 20pt")
              span!=i18n.__("help.titlevideo")

            div(style="display: flex;flex-wrap: wrap;")
              div(class="videocontainer")
                span!= i18n.__("help.video.search")
                video(width="90%", height="90%", controls="", poster="/videos/search_" + language + ".png", src="/videos/vid_search_en.mov")
              div(class="videocontainer")
                span!= i18n.__("help.video.shares")
                video(width="90%", height="90%", controls="", poster="/videos/shares_" + language + ".png", src="/videos/vid_shares_en.mov")
              div(class="videocontainer")
                span!= i18n.__("help.video.orders")
                video(width="90%", height="90%", controls="", poster="/videos/orders_" + language + ".png", src="/videos/vid_orders_en.mov")
              div(class="videocontainer")
                span!= i18n.__("help.video.profile")
                video(width="90%", height="90%", controls="", poster="/videos/profile_" + language + ".png", src="/videos/vid_profile_en.mov")
                  //source(src="/movie4.mov" type="video/ogg")
              - if(isLoggedInAdmin == true)
                div(class="videocontainer")
                  span!= i18n.__("help.video.admins")
                  video(width="90%", height="90%", controls="", poster="/videos/admins_" + language + ".png", src="/videos/vid_admins_en.mov")
                    //source(src="/movie4.mov" type="video/ogg") 
                div(class="videocontainer")
                  span!= i18n.__("help.video.reports")
                  video(width="90%", height="90%", controls="", poster="/videos/reports_" + language + ".png", src="/videos/vid_reports_en.mov")
                    //source(src="/movie4.mov" type="video/ogg")             

          div.alert.pointsLayout(style="clear:both;width: 100%; background-color: rgba(61, 157, 203, 0.79); color: white; text-align: center; padding-bottom: 15px;font-weight: bold;")
             span!= ''+labyoker + i18n.__("help.desc9")
             a(href="mailto:labyoke@gmail.com",style="color: rgb(255, 226, 175);")!= ' labyoke@gmail.com <br/>'
   span(class="threepointssep", style="margin-top: -40px;")                 
                 
