doctype html
html(lang='en')
   head
     title= 'Lab Yoke - ' + title
     link(href='/css/popup.css', rel='stylesheet')
     link(href='/css/bootstrap.css', rel='stylesheet')
     link(href='/css/bl.css', rel='stylesheet')
     link(href='/css/fontello.css', rel='stylesheet')
     link(href='/css/animation.css', rel='stylesheet')
     if (title=='Share')
       link(href='/css/normalize.css', rel='stylesheet')
       link(href='/css/component.css', rel='stylesheet')
       link(href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css', rel='stylesheet')
     if (title=='Orders')
      link(href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css', rel='stylesheet')
     meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
     meta(http-equiv='X-UA-Compatible', content='IE=edge')
     meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
     meta(name='robots', content='noindex, nofollow')
     link(rel='shortcut icon', href='/images/BLlogin.png')
     script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
     link(rel="shortcut icon" href="/images/favicon.ico")


     if scripts
       each script in scripts
          script(type='text/javascript', src=script)
   body(class=loggedIn)
     if (loggedIn==true)
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                .navbar-header(style="float:left; margin-left:auto;")
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', style="border-color:#8a6d3b")
                        
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    - activateReports = ""
                    - activateShares = ""
                    - activateSearch = ""
                    - activateHelp = ""
                    - activateOrders = ""
                    - activateAccount = ""
                    - if (title == 'Reports')
                        - activateReports = "labColorBackground"
                    - if (title == 'Share')
                        - activateShares = "labColorBackground"
                    - if (title == 'Search')
                        - activateSearch = "labColorBackground"
                    - if (title == 'Help')
                        - activateHelp = "labColorBackground"
                    - if (title == 'Orders')
                        - activateOrders = "labColorBackground"
                    - if (title == 'Account')
                        - activateAccount = "labColorBackground"

                .collapse.navbar-collapse
                    div(style="float:left")
                        ul.nav.navbar-nav
                            li(class=activateSearch addMargin)
                                a(href="/search", class="nav-menu",id="menusearch")="Search"
                            li(class=activateHelp)
                                a(href='/help', class="nav-menu",id="menusearch")="Help"
                            
                    div(style="padding-left: 130px;")
                        ul.nav.navbar-nav(id="menumyshares", class="addMargin", style="border-left-color: white;border-left-style: solid;border-width: thin;")
                            li(class=activateShares addMargin)
                                a(href="/share",class="nav-menu",id="menushare")="My Shares"
                            li(class=activateOrders)
                                a(href="/orders",class="nav-menu",id="menushare")="My Orders"
                        ul.nav.navbar-nav(id="menumyaccount", class="addMargin", style="border-left-color: white;border-left-style: solid;border-width: thin;")
                            li(class=activateAccount addMargin)
                                a(href="/account",class="icon-user nav-menu", id="menumyaccounta")=" Account"
                            if(isLoggedInAdmin == 1)
                                li(class=activateReports)
                                    a(href="/reports",class="icon-ok nav-menu", id="menumyaccounta")=" Reports"
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout',class="nav-menu-logout") Logout
     block content
     script(type="text/javascript" src="/javascripts/bootstrap.min.js")
     script(type="text/javascript" src="/javascripts/popup.js")
     if (title=='Share')
       script(type="text/javascript" src="/javascripts/custom-file-input.js")
     div(style="margin-top: 40px; background-color: #8a6d3b; position: fixed;bottom: 0;width: 100%;")
            div(style="color:white; text-align:center; font-size:11px;")="@labyoke"
