doctype html
html(lang='en')
   head
     title= 'Lab Yoke'
     link(href='/css/popup.css', rel='stylesheet')
     link(href='/css/bootstrap.min.css', rel='stylesheet')
     link(href='/css/bl.css', rel='stylesheet')
     link(href='/css/fontello.css', rel='stylesheet')
     link(href='/css/animation.css', rel='stylesheet')
     if (title=='share')
       link(href='/css/normalize.css', rel='stylesheet')
       link(href='/css/component.css', rel='stylesheet')
     meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
     meta(http-equiv='X-UA-Compatible', content='IE=edge')
     meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
     meta(name='robots', content='noindex, nofollow')
     link(rel='shortcut icon', href='/images/BLlogin.png')
     script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")


     if scripts
       each script in scripts
          script(type='text/javascript', src=script)
   body(class=loggedIn)
     if (loggedIn==true)
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                .navbar-header(style="float:left; margin-left:auto;")
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', style="border-color:#8a6d3b")
                        
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    - activate = ""
                    - if (menu == 'today')
                        - activate = "activeNav"
                    - activate = ""
                        - if (menu == 'calendar')
                            - activate = "activeNav"

                    - activate = ""
                        - if (menu == 'ranking')
                            - activate = "activeNav"

                .collapse.navbar-collapse
                    div(style="float:left")
                        ul.nav.navbar-nav

                            li(class=activate)
                                a(href="/search", class="nav-menu",id="menusearch", style="top: -0.5px;")
                                    span(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 5px;-webkit-font-smoothing: auto;")="Search"
                            li(class=activate)
                                a(href='/help', class="nav-menu",id="menusearch", style="top: -0.5px;")
                                    span(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 5px;-webkit-font-smoothing: auto;")="Help"
                            
                            
                    div(style="padding-left: 130px;")
                        ul.nav.navbar-nav(id="menumyshares",style="border-left-color: white;border-left-style: solid;border-width: thin;")
                            li(class=activate)
                                a(href="/share",class="nav-menu",id="menushare", style="top: -0.5px;")
                                    span(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 5px;-webkit-font-smoothing: auto;")="My Shares"
                            li(class=activate)
                                a(href="/orders",class="nav-menu",id="menushare", style="top: -0.5px;")
                                    span(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 5px;-webkit-font-smoothing: auto;")="My Orders"
                        ul.nav.navbar-nav(id="menumyaccount", style="border-left-color: white;border-left-style: solid;border-width: thin;")
                            li(class=activate)
                                a(href="/account",class="nav-menu", id="menumyaccounta", style="top: -0.5px;")
                                    span(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 5px;-webkit-font-smoothing: auto;")=" My Account"
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/logout',class="glyphicon  glyphicon-lamp nav-menu-logout", style="top: -0.5px;")
                                span(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 5px;-webkit-font-smoothing: auto;")="Logout"
     block content
     script(type="text/javascript" src="/javascripts/bootstrap.min.js")
     script(type="text/javascript" src="/javascripts/popup.js")
     if (title=='share')
       script(type="text/javascript" src="/javascripts/custom-file-input.js")
