extends layout

block content

    div(class="container login front", style="margin-top: 4.5%;")
         div(style="text-align: center;position: relative;")
             a(href="/search")
                img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
             - var d = new Date();
             - var n = d.getHours();
             - if(n < 11)
                 h1 #{i18n.__("login.morning")}
             - if(n >= 11 && n <= 15)
                 h1 #{i18n.__("login.afternoon")}
             - if(n > 17)
                 h1 #{i18n.__("login.evening")}
             p(style="display:none")!= mom + " - " + n + " hours"
             p #{i18n.__("login.welcome")}
         - if(latestshares != null && latestshares != undefined)
             div(class="desktabonly", style="text-align:center;font-weight:bold;min-height:35px;background-color: rgba(138, 109, 59, 0.42);padding-top: 6px;margin-bottom: 15px;")
                span!= i18n.__("login.texting1")
                span()
                    -var ob = latestshares
                    -for(var prop in ob)
                        - var n = ob[prop].agent
                        span(class="test2",style="color:#8a6d3b;")!="-|- " 
                        span(class="test",style="color:#2a75b3")!= n + " "
                span(class="test2", style="color:#8a6d3b;")!="-|-"
                span!= i18n.__("login.texting2")

         div(id="ctl00_Div2" class="frontdiv results")
           div
            if message
                div(class="alert alert-danger fade in alert-dismissable")!= message
            form(action="/login" method="post")
                div(class="textentry")
                    input(name="user" type="text" id="user" class="form-control placeholderColor" placeholder="Username")
                div(class="textentry")
                    input(name="pass" type="password" id="pass" class="form-control placeholderColor" placeholder="Password")
                div(class="buttons")
                    //input(type="submit" class="button" value="Get in")
                    button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") #{i18n.__("login.button")}
                    img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
            div(style="max-width: 550px;margin-top: 10px;")
                span(class="floatleft")
                    a(href="/register", style="z-index:10") #{i18n.__("login.registerLink")}
                span(style="float:right;")
                    a(href="/forgot", style="z-index:10") #{i18n.__("login.forgotLink")}
    div(class="help")
       a(href="/help" title="Help")
        img(src="images/bouee3.png", alt="Help", title=i18n.__("login.helpLink"), class="helplogin")
       span
         a(href="/login?lang=en")
            img(src="images/en.png", alt="English", title="English", class="enlogin")
       span
         a(href="/login?lang=fr")
            img(src="images/fr.png", alt="Français", title="Français", class="frlogin")
    script(type="text/javascript" src="/javascripts/assets/jquery.fittext.js")
    script(type="text/javascript" src="/javascripts/assets/jquery.lettering.js")
    script(type="text/javascript" src="/javascripts/jquery.textillate.js")
    script.
        $(function () {
            $('.test').textillate({ in : {
                    effect: 'fadeInDownBig',
                    shuffle: true,
                    sync: false
                },
                out: {
                    effect: 'hinge',
                    shuffle: true,
                    sync: false
                },
                loop: true
            });
            $('.test2').textillate({ in : {
                    effect: 'swing',
                    shuffle: true,
                    sync: false
                },
                out: {
                    effect: 'swing',
                    shuffle: true,
                    sync: false
                },
                loop: true
            });
        });
