extends layout

block content

    div(class="container login front", style="margin-top: 4%;margin-bottom:15px;")
         div(style="text-align: center;position: relative;")
             a(href="/search", class="sunlogos")
                img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
             p(style="margin-bottom: -45px;margin-top: -2px;margin-right: 5px;")
                img(src="/images/arc_morning-1.png", alt="Sun",  title="Sun", class="suns", id="sun", style="width:360px")
             - // var d = new Date();
             - // var n = d.getHours();
             h1(id="hour")
             - //if(n < 11)
                 //h1 #{i18n.__("login.morning")}
             - //if(n >= 11 && n <= 17)
                 //h1 #{i18n.__("login.afternoon")}
             - //if(n > 17)
                 //h1 #{i18n.__("login.evening")}
             //p(style="display:none")!= mom + " - " + n + " hours"
             p #{i18n.__("login.welcome")}
             script.
                var t = new Date();
                var n = t.getHours();
                var text = "";
                var im = "";
                if(n >= 6 && n < 12){
                    text = "#{i18n.__("login.morning")}";
                } else if(n >= 12 && n <= 17){
                    text = "#{i18n.__("login.afternoon")}";
                } else if(n >= 17 && n <= 20){
                    text = "#{i18n.__("login.evening")}";
                } else {
                    text = "#{i18n.__("login.night")}";
                }
                if(n >= 6 && n < 8){
                    im = "arc_morning-1.png";
                } else if(n >= 8 && n < 12){
                    im = "arc_morning-2.png";
                } else if(n >= 12 && n < 15){
                    im = "arc_afternoon-1.png";
                } else if(n >= 15 && n < 17){
                    im = "arc_afternoon-2.png";
                } else if(n >= 17 && n < 19){
                    im = "arc_evening-1.png";
                } else if(n >= 19 && n < 20){
                    im = "arc_evening-2.png";
                } else if(n >= 20 && n < 22){
                    im = "arc_night-1.png";
                } else {
                    im = "arc_night-2.png";
                }
                $('#hour').html(text);
                $('#sun').attr("src","/images/" + im);

                //console.log("t.getHours() = " + t.getHours());

             div(id="ctl00_Div2" class="frontdiv results")
               div
                if message
                    div(class="alert alert-danger fade in alert-dismissable")!= message
                form(action="/login" method="post")
                    div(class="textentry")
                        input(name="user" type="text" id="user" class="form-control placeholderColor" placeholder= i18n.__("login.username"))
                    div(class="textentry")
                        input(name="pass" type="password" id="pass" class="form-control placeholderColor" placeholder= i18n.__("login.password"))
                    div(class="buttons")
                        //input(type="submit" class="button" value="Get in")
                        button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") #{i18n.__("login.button")}
                        img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
                div(style="max-width: 550px;margin-top: 10px;")
                    span(class="floatleft")
                        a(href="/register", style="z-index:10") #{i18n.__("login.registerLink")}
                    span(style="float:right;")
                        a(href="/forgot", style="z-index:10") #{i18n.__("login.forgotLink")}
     - if(latestshares != null && latestshares != undefined)
        div(class="slide-out-div desktabonly", style="position: fixed;bottom: 6px;")
            a(class="handle" href="last-transactions", style="right: -60px;")!=Content
            div(style="text-align: center;padding: 1px;color:white;")
                p!= i18n.__("login.texting1")
                p
                    -var ob = latestshares
                    -for(var prop in ob)
                        - var n = ob[prop].agent
                            //span(class="test2",style="color:white;")!="-|- " 
                            span(class="test",style="color:#ddd")!= n + " "
                            - if(prop < (ob.length -1))
                                span(class="test2", style="color:white;")!="-|- "
    div(class="help")
       a(href="/help" title="Help")
        img(src="images/bouee3.png", alt="Help", title=i18n.__("login.helpLink"), class="helplogin")
       span
         a(href="/login?lang=en")
            img(src="images/en.png", alt="English", title="English", class="enlogin")
       span
         a(href="/login?lang=fr")
            img(src="images/fr.png", alt="Français", title="Français", class="frlogin")
    //script(type="text/javascript" src="/javascripts/assets/jquery.fittext.js")
    //script(type="text/javascript" src="/javascripts/assets/jquery.lettering.js")
    //script(type="text/javascript" src="/javascripts/jquery.textillate.js")
    script.
         $(function(){
             $('.slide-out-div').tabSlideOut({
                 tabHandle: '.handle',                              //class of the element that will be your tab
                 pathToTabImage: 'images/movarrow2.gif',          //path to the image for the tab (optionaly can be set using css)
                 imageHeight: '40px',                               //height of tab image
                 imageWidth: '40px',                               //width of tab image    
                 tabLocation: 'bottom',                               //side of screen where tab lives, top, right, bottom, or left
                 speed: 300,                                        //speed of animation
                 action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
                 topPos: 'initial',                                   //position from the top
                 fixedPosition: false                               //options: true makes it stick(fixed position) on scroll
             });
         });
    - if(latestshares != null && latestshares != undefined)
        style.
            canvas{
                width: 350px !important;
                height: 85% !important;
                position: relative;
                margin-top: -450px;
            }

        script(src="/javascripts/threejs/build/more/three.min.js")

        script(src="/javascripts/threejs/examples/js/effects/AnaglyphEffect.js")

        script(src="/javascripts/threejs/examples/js/Detector.js")

        script(src="/javascripts/threejs/threex.dynamictexture.js")


        script.
            var obj = JSON.parse('#{JSON.stringify(latestshares)}'.replace(/&quot;/g, '"'));
            console.log(obj);
            for(var prop in obj)
                console.log(obj[prop].agent);
            var wordwrap = function(long_string, max_char){

            var sum_length_of_words = function(word_array){
            var out = 0;
            if (word_array.length!=0){
            for (var i=0; i<word_array.length; i++){
            var word = word_array[i];
            out = out + word.length;
            }
            };
            return out;
            }

            var split_out = [[]];
            var split_string = long_string.split(' ');
            for (var i=0; i<split_string.length; i++){
            var word = split_string[i];

            if ((sum_length_of_words(split_out[split_out.length-1]) + word.length) > max_char){
            split_out = split_out.concat([[]]);
            }

            split_out[split_out.length-1] = split_out[split_out.length-1].concat(word);
            }

            for (var i=0; i<split_out.length; i++){
            split_out[i] = split_out[i].join(" ");
            }

            return split_out.join('\n');
            };

            var objects = [];
            var raycaster = new THREE.Raycaster();
            var mouse = new THREE.Vector2();
            document.addEventListener( 'mousedown', onDocumentMouseDown, false );

            var scene = new THREE.Scene();
            scene.background = new THREE.Color( "white" );
            var camera = new THREE.PerspectiveCamera(400, 300/(window.innerHeight * 0.95), 1, 10000);

            var renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.setSize(220, window.innerHeight * 0.9);
            renderer.setClearColor( 0xffffff );
            document.body.appendChild(renderer.domElement);

            var colors = [0x8a6d3b,0x3d9dcb,0x337ab7];

            var geometry = new THREE.BoxGeometry(100, 100, 100, 10, 10, 10) /*new THREE.SphereBufferGeometry( 300, 32, 32)*/;
            var geometry1 = /*new THREE.BoxGeometry(50, 50, 50, 10, 10, 10)*/ new THREE.SphereBufferGeometry( 50, 32, 32);
            var geometry2 = new THREE.BoxGeometry(300, 100, 100, 10, 10, 10)

            var dynamicTexture  = new THREEx.DynamicTexture(64,64);
            dynamicTexture.context.font = "normal 3px Verdana"
            dynamicTexture.drawText('Last Transactions', 16, 32, 'white');

            var material = new THREE.MeshBasicMaterial({color: 0x8a6d3b, wireframe: true /*, map: dynamicTexture.texture*/ }); // yoke color
            var material1 = new THREE.MeshBasicMaterial({color: 0x3d9dcb, wireframe: true }); // lab color
            var material2 = new THREE.MeshBasicMaterial({color: 0x337ab7, wireframe: true }); // logo color
            var cube = new THREE.Mesh(geometry, material);
            var cube1 = new THREE.Mesh(geometry1, material1);
            var cube2 = new THREE.Mesh(geometry1, material);
            var cube3 = new THREE.Mesh(geometry2, material);
            var cube4 = new THREE.Mesh(geometry1, material2);
            scene.add(cube4);
            scene.add(cube1);
            scene.add(cube2);

            objects.push( cube4 );
            objects.push( cube1 );
            objects.push( cube2 );

            var mesh1, mesh2, mesh3;

            var loader = new THREE.FontLoader();

            loader.load( '/javascripts/threejs/fonts/helvetiker_regular.typeface.json', function ( font ) {

            var t = "Exosome";

            var test_string = "this is a long string that should be word wrapped, hopefully";
            console.log(wordwrap(test_string, 5));

            var textGeo = new THREE.TextGeometry( wordwrap(t, 20), {font: font, size: 10,height: 3} );

            var textGeo2 = new THREE.TextGeometry( wordwrap("Bamhi", 20), {font: font, size: 10,height: 3} );

            var textGeo3 = new THREE.TextGeometry( wordwrap("Reactif", 20), {font: font, size: 10,height: 3} );

            var textMaterial = new THREE.MeshPhongMaterial( { color: 0xff0000 } );

            mesh1 = new THREE.Mesh( textGeo, textMaterial );
            mesh2 = new THREE.Mesh( textGeo2, textMaterial );
            mesh3 = new THREE.Mesh( textGeo3, textMaterial );

            scene.add( mesh1 );
            scene.add( mesh2 );
            scene.add( mesh3 );

            } );

            camera.position.z = 1000;
            camera.position.y = window.innerHeight * 0.3;
            console.log("height camera: " + window.innerHeight * 0.3);

            function onDocumentMouseDown( event ) {

                event.preventDefault();

                mouse.x = ( event.clientX / renderer.domElement.clientWidth ) * 2 - 1;
                mouse.y = - ( event.clientY / renderer.domElement.clientHeight ) * 2 + 1;

                raycaster.setFromCamera( mouse, camera );

                var intersects = raycaster.intersectObjects( objects );

                if ( intersects.length > 0 ) {
                    var col = intersects[ 0 ].object.material.color.getHex();
                    console.log(col);
                    var rand = Math.floor((Math.random() * 3));
                    console.log("rand: "+rand);
                    intersects[ 0 ].object.material.color.setHex( colors[rand]);

                    /*var particle = new THREE.Sprite( particleMaterial );
                    particle.position.copy( intersects[ 0 ].point );
                    particle.scale.x = particle.scale.y = 16;
                    scene.add( particle );
                    */

                }

                /*
                // Parse all the faces
                for ( var i in intersects ) {

                    intersects[ i ].face.material[ 0 ].color.setHex( Math.random() * 0xffffff | 0x80000000 );

                }
                */
            }


            function render() {
            requestAnimationFrame(render);

            var timer = 0.00007 * Date.now();
            //cube.position.x = 5 * Math.cos( timer );
            //cube.position.y = 5 * Math.sin( timer * 1.1 );

            //cube1.position.x = 50 * Math.cos( timer);
            cube1.position.y = (window.innerHeight / 2) * Math.cos( timer * 2.1);

            cube2.position.y = 0.8 * (window.innerHeight / 2) * Math.cos(timer * 3.1);
            cube2.position.x = 105;

            cube4.position.y = (window.innerHeight / 2) * Math.cos( timer * 3.1 );
            cube4.position.x = -105;

            mesh2.position.set( cube2.position.x - 15, cube2.position.y + 60, 0);
            mesh3.position.set( cube4.position.x - 15, cube4.position.y + 60, 0);
            mesh1.position.set( -25, cube1.position.y + 60, 0);

            //console.log("cube1.position.y: " + cube1.position.y);

            //console.log("cube2.position.y: " + cube2.position.y);

            //cube1.position.z = 50 * Math.cos( timer);

            cube.rotation.x += 0.01;
            cube.rotation.y += 0.01;
            cube.rotation.z += 0.01;

            cube3.rotation.y = 10;
            //cube3.rotation.y = 20;
            //cube3.rotation.z = 0.01;

            cube1.rotation.x += 0.02;
            cube1.rotation.y += 0.02;

            cube4.rotation.x += 0.02;
            cube4.rotation.y += 0.02;

            cube2.rotation.x += 0.02;
            cube2.rotation.y += 0.02;
            cube2.rotation.y += 0.02;





            renderer.render(scene, camera);
            };

            render();