extends layout

block content

    div(class="container login front", style="margin-top: 8%;")
         div(style="text-align: center;position: relative;")
             a(href="/search")
                img(src="/images/yoke4.png", alt="The Yoke",  title="Yoke", class="yokelogo")
             - // var d = new Date();
             - // var n = d.getHours();
             h1(id="hour")
             - //if(n < 11)
                 //h1 #{i18n.__("login.morning")}
             - //if(n >= 11 && n <= 17)
                 //h1 #{i18n.__("login.afternoon")}
             - //if(n > 17)
                 //h1 #{i18n.__("login.evening")}
             //p(style="display:none")!= mom + " - " + n + " hours"
             p #{i18n.__("login.welcome")}
         script.
            var t = new Date();
            var n = t.getHours();
            var text = "";
            if(n < 11){
                text = "#{i18n.__("login.morning")}"
            } else if(n >= 11 && n <= 18){
                text = "#{i18n.__("login.afternoon")}"
            } else {
                text = "#{i18n.__("login.evening")}"
            }
            $('#hour').html(text);

            console.log("t.getHours() = " + t.getHours());

         div(id="ctl00_Div2" class="frontdiv results")
           div
            if message
                div(class="alert alert-danger fade in alert-dismissable")!= message
            form(action="/login" method="post")
                div(class="textentry")
                    input(name="user" type="text" id="user" class="form-control placeholderColor" placeholder="Username")
                div(class="textentry")
                    input(name="pass" type="password" id="pass" class="form-control placeholderColor" placeholder="Password")
                div(class="buttons")
                    //input(type="submit" class="button" value="Get in")
                    button.btn.btn-success.btn-lg.btn-block(type='submit', style="width: 85%;") #{i18n.__("login.button")}
                    img(src="images/lab.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; float: right;")
            div(style="max-width: 550px;margin-top: 10px;")
                span(class="floatleft")
                    a(href="/register", style="z-index:10") #{i18n.__("login.registerLink")}
                span(style="float:right;")
                    a(href="/forgot", style="z-index:10") #{i18n.__("login.forgotLink")}
     - if(latestshares != null && latestshares != undefined)
        div(class="slide-out-div desktabonly")
            a(class="handle" href="http://link-for-non-js-users")!=Content
            div(style="text-align: center;padding: 1px;color:black")
                span!= i18n.__("login.texting1")
                span()
                    -var ob = latestshares
                    -for(var prop in ob)
                        - var n = ob[prop].agent
                        span(class="test2",style="color:#8a6d3b;")!="-|- " 
                        span(class="test",style="color:#2a75b3")!= n + " "
                span(class="test2", style="color:#8a6d3b;")!="-|-"
                span!= i18n.__("login.texting2")
    div(class="help")
       a(href="/help" title="Help")
        img(src="images/bouee3.png", alt="Help", title=i18n.__("login.helpLink"), class="helplogin")
       span
         a(href="/login?lang=en")
            img(src="images/en.png", alt="English", title="English", class="enlogin")
       span
         a(href="/login?lang=fr")
            img(src="images/fr.png", alt="Français", title="Français", class="frlogin")
    //script(type="text/javascript" src="/javascripts/assets/jquery.fittext.js")
    //script(type="text/javascript" src="/javascripts/assets/jquery.lettering.js")
    //script(type="text/javascript" src="/javascripts/jquery.textillate.js")
    script.
         $(function(){
             $('.slide-out-div').tabSlideOut({
                 tabHandle: '.handle',                              //class of the element that will be your tab
                 pathToTabImage: 'images/lab.png',          //path to the image for the tab (optionaly can be set using css)
                 imageHeight: '53px',                               //height of tab image
                 imageWidth: '50px',                               //width of tab image    
                 tabLocation: 'left',                               //side of screen where tab lives, top, right, bottom, or left
                 speed: 300,                                        //speed of animation
                 action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
                 topPos: '200px',                                   //position from the top
                 fixedPosition: false                               //options: true makes it stick(fixed position) on scroll
             });
         });
