extends layout

block content


    div(class="container login")
        div(style="float: left;" class="order-container")
            a(href="/search")
                img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Orders.'
            if(orderresults == "")
              p="You have not ordered any agent yet! Click on the "
                a(href='/search')="Search"
                span=" button and start labyoking!"
            if(orderresults != "" && email == undefined)
              p="Incredible! You have ordered the following agents so far:"
              div(id="results")
                div(id="ctl00_Div2" class="row rank")
                  div(class="table-responsive")               
                    table(id="rankTbl" class="table")
                      tbody
                        tr(class="you info-best" style="font-weight: bold")
                          td(class="desktabonly")= 'id'
                          td(class="wrapped")!= 'Agent'
                          td= 'Vendor'
                          td= 'Catalog#'
                          td= 'Date'
                        - var i = 0
                        -var ob = orderresults
                        -for(var prop in ob)
                          - var d = ob[prop].date
                          - d = d.toLocaleDateString("en-US")
                          - i = i + 1
                          tr(class="")
                            td(class="desktabonly")= i
                            td(class="wrapped") #{ob[prop].agent}
                            td #{ob[prop].vendor}
                            td #{ob[prop].catalognumber}
                            td #{d}

            if email != undefined
              h3="Great! You have ordered the following agent from "
                span(style="color: #3d9dcb;")=" " + location
                span="!"
              p=" "
              p
                b="Agent: "
                span=agent
                br
                b="Catalog: "
                span=catalog
                br
                b="Vendor: "
                span=vendor
        div(class="alert alert-success fade in alert-dismissable order-container",style="margin-top:18px;float: right;")
          a(href="#", class="close", data-dismiss="alert", aria-label="close", title="close")="x"
          strong="Major Achievement!"
          span=" You have saved your lab over $1000 dollars for the past 4 months."
        div(class="alert alert-success fade in alert-dismissable order-container",style="margin-top:18px;float: right;")
          a(href="#", class="close", data-dismiss="alert", aria-label="close", title="close")="x"
          strong="Another Major Achievement!"
          span=" You have saved the WORLD over $10,000 dollars for the past month."

