extends layout

block content


    div(class="container login")
        div(style="float: left; width: 350px;")
            a(href="/search")
                img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Orders.'
            if email != undefined
              h4="Great! You have ordered ..."
              p
                b="Agent: "
                span=agent
              p
                b="Catalog: "
                span=catalog
              p
                b="Vendor: "
                span=vendor


