extends layout

block content


    div(class="container login")
        div(style="float: left; width: 350px;")
            a(href="/search")
                img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Orders.'
            if email != undefined
              h3="Great! You have ordered the following agent from "
                span(style="color: #3d9dcb;")=" " + location
                span="!"
              p=&nbsp;
              p
                b="Agent: "
                span=agent
                br
                b="Catalog: "
                span=catalog
                br
                b="Vendor: "
                span=vendor


