extends layout

block content


    div(class="container login")
        div(style="float: left; width: 350px;")
            a(href="/search")
                img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Orders.'
            if email != undefined
              h4="Great! You have ordered ..."
              h3="Agent: " + agent
              h3="Catalog: " + catalog
              h3="Vendor: " + vendor


