extends layout

block content


  div(class="container login")
     a(href="/search" class=labentered)
        img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo", style=" width:300px; height:258px;")
       div
        if !labentered && !regsuccess
            h1= 'Sign Up.'
            p 
                span!="You are on your way to <a href='/login'>Lab Yoking</a> with fellow researchers. "
                span(class="labColor")="Registering "
                span="is a breeze!"
            div(id="ctl00_Div2" class="row")
                if message
                    div(class="alert alert-danger")!= message
                form(action="/register" method="post")
                    div(style="margin-bottom: 20px;")
                        div(class="textentry")
                            input(name="regfirstname" type="text" id="regfirstname" class="form-control" placeholder="First Name")
                        div(class="textentry")
                            input(name="reglastname" type="text" id="lastname" class="form-control" placeholder="Last Name")
                    div(style="margin-bottom: 20px;")
                        div(class="textentry")
                            input(name="regemail" type="text" id="regemail" class="form-control" placeholder="Email Address")
                        div(class="textentry")
                            input(name="regtel" type="text" id="tel" class="form-control" placeholder="Telephone")
                    div(class="buttons")
                        button.btn.btn-success.btn-lg.btn-block(type='submit') Next
                        img(src="images/ship.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")  

        if labentered
            h1= 'Almost there.'
            p Now... Tell us more about yourself!
            div(id="ctl00_Div2" class="row")
                if message
                    div(class="alert alert-danger")!= message
                form(action="/register" method="post")
                    div(style="margin-bottom: 20px;")
                        div(class="textentry")
                            input(name="reguser" type="text" id="reguser" class="form-control" placeholder="Username" style="border-color:#8a6d3b")
                        div(class="textentry")
                            input(name="regpass" type="password" id="regpass" class="form-control" placeholder="Password" style="border-color:#8a6d3b")
                        div(class="textentry")
                            input(name="regverpass" type="password" id="regverpass" class="form-control" placeholder="Verify Password" style="border-color:#8a6d3b")

                    div(style="margin-bottom: 20px;")
                        div(class="textentry")
                            input(name="reglab" type="text" id="reglab" class="form-control" style="border-color:#3d9dcb" placeholder="Lab")
                        input(name="regfirstname" type="hidden" id="regfirstname" value=firstname)
                        input(name="reglastname" type="hidden" id="reglastname" value=lastname)
                        input(name="regemail" type="hidden" id="regemail" value=email)
                        input(name="regtel" type="hidden" id="regtel" value=tel)

                    div(class="buttons")
                        //input(type="submit" class="button" value="Register")
                        button.btn.btn-success.btn-lg.btn-block(type='submit') Start Lab Yoking
                        img(src="images/ship.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")
            
        if regsuccess && !labentered
                div(id="ctl00_Div2" class="row")
                    span(style="text-align: center")
                        h3="Thanks for registering"
                            span(style="color: #3d9dcb;")=" " + regsuccess + "!"
                        h4="You can now start "
                            a(href="/search")="searching"
                            span=" or "
                            a(href="/share")="sharing"
                            span=" your own chemicals."
        

