extends layout

block content
		script.
			var recenter = 0;
		div(class="zoomnow container login2 marginbottom margintop container2 moveFromLeft")
			h1
				span(class="fa fa-file-text lightyokecolor")
				span!= i18n.__("reports.title")
				span(class="fa fa-caret-right lightyokecolor animated fadeIn" style="font-size: 20pt;")
			p
				span(class="restrictreporttext", style="float:left")!= i18n.__("reports.subtitle")
				span(class="restrictreporttext", style="float:right")!= i18n.__("reports.subtitle2")

				- var now = (new Date())
				- now = (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear()
			- var selResultsMoney = resultsMoney
			- var checkedstrMoney = false;
			- if(section !=null && section.length>0 && section == "money")
				- checkedstrMoney = true
			- var selResultsOrders = resultsOrders
			- var checkedstrOrders = false;
			- if(section !=null && section.length>0 && section == "orders")
				- checkedstrOrders = true
			- var selResultsShares = resultsShares
			- var checkedstrShares = false;
			- if(section !=null && section.length>0 && section == "shares")
				- checkedstrShares = true
			- var selResultsInsuff = resultsInsuff
			- var checkedstrInsuff = false;
			- if(section !=null && section.length>0 && section == "insuff")
				- checkedstrInsuff = true
			form(action="reportSelect", method="post", class="adjustwidthreports", style="display:none")
				div(class="buttonss")
					span(class="fa fa-sort" style="color: #8a6d3b; float: right; top: 25px; left: -10px; position: relative; font-size: 14pt;z-index:-1;")
					select(name="reportSelect" type="text" id="reportSelect" class="form-control form-control0" style="border-color:#3d9dcb;margin-bottom:10px;z-index: 1;background-color: transparent;" placeholder=i18n.__("reports.form.select"))
						option(value="reportNone",style="font-weight:bold")=i18n.__("reports.form.option1")
						option(value="reportMoney" selected=(checkedstrMoney===true ? "selected" : undefined))=i18n.__("reports.form.option2")
						option(value="reportOrders" selected=(checkedstrOrders===true ? "selected" : undefined))=i18n.__("reports.form.option3")
						option(value="reportShares" selected=(checkedstrShares===true ? "selected" : undefined))=i18n.__("reports.form.option4")
						option(value="reportInsuff" selected=(checkedstrInsuff===true ? "selected" : undefined))=i18n.__("reports.form.option5")
			div(class="containerreports", style="display:none")
				div(class="labelbuttons reportlabels")
					input(id="toggle" type="checkbox" class="inputexpand")
					label(for="toggle", class="labelexpand animated fadeInUp", style="z-index: 0;position: relative;/*top: -44px;*/ display: inline-block;")!= i18n.__("reports.label.savings")
					input(id="toggleedit" type="checkbox" class="inputexpandedit")
					label(for="toggleedit", class="labelexpandedit animated fadeInDown", style="z-index: 0;display: inline-block;")!= i18n.__("reports.label.orders")
					label(class="labelexpandmood animated fadeInUp reportweek", style="z-index: 0;position: relative;top: -44px;display: inline-block;background-color: rgba(138, 109, 59, 0.81);")!= i18n.__("reports.label.week")
					input(id="toggleadd" type="checkbox" class="inputexpandadd")
					label(for="toggleadd", class="labelexpandadd animated fadeInDown", style="z-index: 0;display: inline-block;")!= i18n.__("reports.label.inventory")       
					input(id="togglerules" type="checkbox" class="inputexpandrules")
					label(for="togglerules", class="labelexpandrules animated fadeInUp", style="z-index: 0;position: relative; display: inline-block;margin-top: -20px;")!= i18n.__("reports.label.insuff")
					div(style=nobar, class="threepointssep threedown")
				div(class="reportSlot") &nbsp;
				div(class="restrictreport restrictreport2")
					div(class="reportMoneys results2 resultsshadow", id="reportMoney", style="border-radius: 50px 100px !important;")
						h3
							span(class="fa fa-file-text" style=" color: #2975b4; margin-right: 10px;")
							span= i18n.__("reports.money.title")
						p= i18n.__("reports.money.subtitle")
						- var datefrom_money = datefromMoney
						- var dateto_money = datetoMoney
						- var file_money = i18n.__("reports.money.file") + " " + datefrom_money + i18n.__("reports.file.to") + dateto_money
						- var message_fail_share = i18n.__("reports.money.message.fail")
						- var message_fail_date_share = i18n.__("reports.money.message.date.fail")
						- var message_success_money = i18n.__("reports.money.message.success1") + datefrom_money + i18n.__("reports.money.message.success2") + dateto_money + i18n.__("reports.money.message.success3")
						- if(datefromMoney == null || datefromMoney == undefined || datefromMoney == "")
							- datefrom_money = i18n.__("reports.money.message.datefrommoney")
							- dateto_money = ""
							- message_success_money = i18n.__("reports.money.message.successmoney")
							- file_money = i18n.__("reports.money.file_all") 
						if (addMessageMoney == 'failure')
							div(class="alert alert-danger-report alertshadow")!= message_fail_share
						if (addMessageMoney == 'wrongdate')
							div(class="alert alert-danger-report alertshadow")!= message_fail_date_share
						if (addMessageMoney == 'success')
							div(class="alert alert-success-report fade in alert-dismissable alertshadow")!= message_success_money
						div
							form(action="reportMoney", method="post", id="formreportMoney")
								div(class="buttonss")
									label(style="top: 23px; position: relative;font-weight: bold;")= i18n.__("reports.money.datefrom")
									span(class="fa fa-calendar" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
									input(name="reportDateFromMoney" style="margin-left: 40px;margin-top: -13px;margin-bottom:10px;margin-top: -13px;" type="tel" id="reportDateFromMoney" class="form-control form-control0")
									
									label(style="top: 23px; position: relative;font-weight: bold;")= i18n.__("reports.money.dateto")
									span(class="fa fa-calendar" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
									input(name="reportDateToMoney" style="margin-left: 40px;margin-top: -13px;margin-bottom:10px;margin-top: -13px;" type="tel" id="reportDateToMoney" class="form-control form-control0")

									label(style="width: 100%;font-weight: bold;margin-top:10px;margin-bottom: 0px;")!= i18n.__("reports.money.lab.label") + dept + "</span>:"
									span(class="fa fa-sort" style="color: #8a6d3b; float: right; top: 25px; left: -10px; position: relative; font-size: 14pt;z-index:-1;")
									select(name="reportLabMoney" type="text" id="reportLabMoney" class="form-control form-control0" style="border-color:#3d9dcb;margin-bottom:20px;z-index: 1;background-color: transparent;" placeholder=i18n.__("reports.money.labselect"))
										option(value="all")=i18n.__("reports.money.lab.option")
										if(categories != undefined)
											- var ob = categories
											- for(var prop in ob)
												- var lab = ob[prop].labname
												option(value=lab) #{lab}
									div(class="reportlabelwidth hideinapp")
										label(style="width: 100px;font-weight: bold;margin-top:10px;")=i18n.__("reports.money.show")
									div(class="reportlabelwidth reportlabelwidth3")
										label(for="reportAgentMoney", style="width: 65px;font-weight: bold;")=i18n.__("reports.money.reagent")
										div(class="checkboxThree")
											input(type="checkbox" name="reportAgentMoney" id="reportAgentMoney" value="reagent")
											label(class="labelcheck shadow",for="reportAgentMoney")
									div(class="reportlabelwidth reportlabelwidth3")
										label(for="reportVendorMoney",style="width: 60px;font-weight: bold;")=i18n.__("reports.money.vendor")
										div(class="checkboxThree")
											input(type="checkbox" name="reportVendorMoney" id="reportVendorMoney" value="vendor")
											label(class="labelcheck shadow",for="reportVendorMoney")
									div(class="reportlabelwidth reportlabelwidth3")
										label(for="reportCatalogMoney",style="width: 75px;font-weight: bold;")=i18n.__("reports.money.catalog")
										div(class="checkboxThree")
											input(type="checkbox" name="reportCatalogMoney" id="reportCatalogMoney" value="catalogNumber")
											label(class="labelcheck shadow",for="reportCatalogMoney")
									div(style="max-width:100%; margin-top: 90px;margin-bottom:10px")
										button.btn.btn-success.btn-lg.btn-block.reportbutton2.reportbutton3.shadow(type="submit",value="Report",name="submit")= i18n.__("reports.money.button")
								if(resultsMoney != null && resultsMoney !="")
									script(type="text/javascript" src="/javascripts/jspdf.js")
									script(type="text/javascript" src="/javascripts/xlsx.core.min.js")
									script(type="text/javascript" src="/javascripts/Blob.js")
									script(type="text/javascript" src="/javascripts/FileSaver.js")
									script(type="text/javascript" src="/javascripts/savexl.js")
									script.
										recenter = 1;
										$('.intro2').show();
										$('.desktabonly3').show();
										var ob = "#{resultsMoney}"
										ob = ob.replace(/&lt;/g,"<");
										ob = ob.replace(/&gt;/g,">");
										var pdf = new jsPDF('l', 'pt', 'ledger');
										var pdf2 = new jsPDF('l', 'pt', 'ledger');
										source = ob;

										$(document).ready(function(){

										$(".intro2").show();
										$(".intro2").addClass("backmoney");
										$(".intro2").html(source);

										setTimeout(function(){
										console.log("height insuff is: " + $('.containerreports').height());
										console.log("top insuff is: " + $('.containerreports').offset().top);
										console.log("report insuff height is: " + $('.reportlabels').height());
										console.log("report insuff top is: " + $('.reportlabels').offset().top);
										var l = $('.containerreports').offset().top + $('.containerreports').height();
										console.log("scrolling " + l);
										$('html,body').animate({scrollTop: l}, 1000);
										}, 500);

										//$(".reportlabels").addClass("reportlabels2");
										//$('.intro2').css("margin-top",$('.restrictreport').height() + 'px');
										
										if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
											console.log("ismobile");
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
											$('.threedown').hide();
											console.log("threedown hide");
										} else {
										console.log("isdesktop");
										var datamoney = "#{dataMoney}";

										if(datamoney != null && datamoney != ""){
										$(".intro2").before("<label for='togglerules' id='labeldownload'  class='labeldownload animated fadeInUp' data-toggle='tooltip' title='" + "#{i18n.__('reports.download.pdf')}" + "'><span class='fa fa-download'></span></label><label for='togglerules' id='labeldownloadxl'  class='labeldownload animated fadeInUp labeldownloadxl' data-toggle='tooltip' title='" + "#{i18n.__('reports.download.excel')}" + "'><span class='fa fa-database'></span></label>");
										
										

										$(".intro2").prev('#labeldownloadxl').click(function() {
											/* original data */
											//var data = [[1,2,3,4],["Sample", "Sample", "Sample", "Sample"],["foo","bar","Hello","0.3"], ["baz", null, "qux"]];
											console.log("" + "#{dataMoney}");
											
											var data = JSON.parse('!{dataMoney}');
											console.dir(data);
											var ws_name = "SheetJS";
											//brown
											var opts = {fill:{fgColor:{ rgb: "7FAD9C75" }}};

											var wb = new Workbook(), ws = sheet_from_array_of_arrays(data, opts);

											/* add worksheet to workbook */
											wb.SheetNames.push(ws_name);
											wb.Sheets[ws_name] = ws;
											var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
											saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), "#{file_money}" + ".xlsx")										
										});

										$(".intro2").prev().prev('#labeldownload').click(function() {
										specialElementHandlers = {
											'#bypassme': function(element, renderer) {
											return true;
										}
										};
										margins = {
											top: 30,
											bottom: 30,
											left: 40,
											right: 40,
											width: 622
										};
										pdf.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											////pdf.output('dataurlnewwindow');
										}
										else
										{
											////pdf.output('dataurlnewwindow');
										}

										}
										, margins);	
										pdf2.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											////pdf.output('dataurlnewwindow');
										}
										else
										{
											pdf2.save("#{file_money}" + ".pdf");
										}
										}
										, margins);
										});
										} else { 
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
										} // end datamoney
										}
										});
									- resultsMoney = ""
							script.
								$(window).scrollTop($('#reportMoney').offset().top).scrollLeft($('#reportMoney').offset().left);
					div(class="reportOrderss results2 resultsshadow", id="reportOrders", style="border-radius: 50px 100px !important;")
						h3
							span(class="fa fa-file-text" style=" color: #2975b4; margin-right: 10px;")
							span= i18n.__("reports.orders.title")
						p= i18n.__("reports.orders.subtitle")
						- var datefrom_orders = datefromOrders
						- var dateto_orders = datetoOrders
						- var file_orders = i18n.__("reports.orders.file") + " " + datefrom_orders + i18n.__("reports.file.to") + dateto_orders
						- var message_fail_order = i18n.__("reports.orders.message.fail")
						- var message_fail_date_order = i18n.__("reports.orders.message.date.fail")
						- var message_success_order = i18n.__("reports.orders.message.success1") + datefrom_orders + i18n.__("reports.orders.message.success2") + dateto_orders + i18n.__("reports.orders.message.success3")
						- if (addMessageOrders != null)
							script.
								$(document).ready(function(){
									recenter = 1;
									$('.labelexpandedit').addClass( "highlightlabel" );
									$(".reportlabels").addClass("reportlabels2");
									if($(window).width() > 900){
										$(".labelexpandmood").css("top","0px");
									}
								});
						- if(datefromOrders == null || datefromOrders == undefined || datefromOrders == "")
							- datefrom_orders = i18n.__("reports.orders.lab.option")
							- dateto_orders = ""
							- message_success_order = i18n.__("reports.orders.message.successorders")
							- file_orders = i18n.__("reports.orders.file_all") 
						if (addMessageOrders == 'failure')
							div(class="alert alert-danger-report alertshadow")!= message_fail_order
						if (addMessageOrders == 'wrongdate')
							div(class="alert alert-danger-report alertshadow")!= message_fail_date_order
						if (addMessageOrders == 'success')
							div(class="alert alert-success-report fade in alert-dismissable alertshadow")!= message_success_order
						div
							form(action="reportOrders", method="post")
								div(class="buttonss")
									label(style="top: 23px; position: relative;font-weight: bold;")=i18n.__("reports.orders.datefrom")
									span(class="fa fa-calendar" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
									input(name="reportDateFromOrders" style="margin-left: 40px;;margin-bottom:10px;margin-top: -13px;" type="tel" id="reportDateFromOrders" class="form-control form-control0")
									
									label(style="top: 23px; position: relative;font-weight: bold;")=i18n.__("reports.orders.dateto")
									span(class="fa fa-calendar" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
									input(name="reportDateToOrders" style="margin-left: 40px;margin-bottom:10px; margin-top: -13px;" type="tel" id="reportDateToOrders" class="form-control form-control0")
									
									label(style="width: 100%;font-weight: bold;margin-top:10px;margin-bottom: 0px;")!= i18n.__("reports.orders.lab.label") + dept + "</span>:"
									span(class="fa fa-sort" style="color: #8a6d3b; float: right; top: 25px; left: -10px; position: relative; font-size: 14pt;z-index:-1")
									select(name="reportLabOrders" type="text" id="reportLabOrders" class="form-control form-control0" style="border-color:#3d9dcb;margin-bottom:10px;z-index: 1;background-color: transparent;" placeholder=i18n.__("reports.orders.labselect"))
										option(value="all")= i18n.__("reports.orders.lab.option")
										if(categories != undefined)
											- var ob = categories
											- for(var prop in ob)
												- var lab = ob[prop].labname
												option(value=lab) #{lab}
									div(style="max-width:100%; margin-top: 20px;margin-bottom:10px")
										button.btn.btn-success.btn-lg.btn-block.reportbutton2.reportbutton3.shadow(type="submit",value="Report",name="submit")= i18n.__("reports.orders.button")
								span(id="triggerSafariOrder")
								if(resultsOrders != null && resultsOrders !="")
									script(type="text/javascript" src="/javascripts/jspdf.js")
									script(type="text/javascript" src="/javascripts/xlsx.core.min.js")
									script(type="text/javascript" src="/javascripts/Blob.js")
									script(type="text/javascript" src="/javascripts/FileSaver.js")
									script(type="text/javascript" src="/javascripts/savexl.js")
									script.
										recenter = 1;
										$('.intro2').show();
										//$('.pin').show();
										//$('.pulse').show();
										//$('.pin').show();
										//$('.pulse').show();
										$('.desktabonly3').show();
										var ob = "#{resultsOrders}"
										ob = ob.replace(/&lt;/g,"<");
										ob = ob.replace(/&gt;/g,">");

										var pdf = new jsPDF('l', 'pt', 'ledger');
										var pdf2 = new jsPDF('l', 'pt', 'ledger');
										// source can be HTML-formatted string, or a reference
										// to an actual DOM element from which the text will be scraped.
										source = ob;

										// we support special element handlers. Register them with jQuery-style 
										// ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
										// There is no support for any other type of selectors 
										// (class, of compound) at this time.

										$(document).ready(function(){

										$(".intro2").show();
										$(".intro2").addClass("backorders");
										//$('.pin').show();
										//$('.pulse').show();
										$(".intro2").html(source);
										$('.desktabonly3').show();

										setTimeout(function(){
										console.log("height insuff is: " + $('.containerreports').height());
										console.log("top insuff is: " + $('.containerreports').offset().top);
										console.log("report insuff height is: " + $('.reportlabels').height());
										console.log("report insuff top is: " + $('.reportlabels').offset().top);
										var l = $('.containerreports').offset().top + $('.containerreports').height();
										console.log("scrolling " + l);
										$('html,body').animate({scrollTop: l}, 1000);
										}, 500);

										//$(".reportlabels").addClass("reportlabels2");
										//$('.intro2').css("margin-top",$('.restrictreport').height() + 'px');
										
										if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
											console.log("ismobile");
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
											$('.threedown').hide();
											console.log("threedown hide");
										} else {
										console.log("isdesktop");
										var dataorders = "#{dataOrders}";

										if(dataorders != null && dataorders != ""){
										$(".intro2").before("<label for='togglerules' id='labeldownload'  class='labeldownload animated fadeInUp' data-toggle='tooltip' title='" + "#{i18n.__("reports.download.pdf")}" + "'><span class='fa fa-download'></span></label><label for='togglerules' id='labeldownloadxl'  class='labeldownload animated fadeInUp labeldownloadxl' data-toggle='tooltip' title='" + "#{i18n.__("reports.download.excel")}" + "'><span class='fa fa-database'></span></label>");
										
										

										$(".intro2").prev('#labeldownloadxl').click(function() {
											/* original data */
											//var data = [[1,2,3,4],["Sample", "Sample", "Sample", "Sample"],["foo","bar","Hello","0.3"], ["baz", null, "qux"]];
											console.log("" + "#{dataOrders}");
											
											var data = JSON.parse('!{dataOrders}');
											console.dir(data);
											var ws_name = "SheetJS";

											var wb = new Workbook(), ws = sheet_from_array_of_arrays(data);

											/* add worksheet to workbook */
											wb.SheetNames.push(ws_name);
											wb.Sheets[ws_name] = ws;
											var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
											saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), "#{file_orders}" + ".xlsx")										
										});


										$(".intro2").prev().prev('#labeldownload').click(function() {
										specialElementHandlers = {
											// element with id of "bypass" - jQuery style selector
											'#bypassme': function(element, renderer) {
											// true = "handled elsewhere, bypass text extraction"
											return true;
										}
										};
										margins = {
											top: 30,
											bottom: 30,
											left: 40,
											right: 40,
											width: 622
										};

										// all coords and widths are in jsPDF instance's declared units
										// 'inches' in this case
										pdf.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										// dispose: object with X, Y of the last line add to the PDF 
										//          this allow the insertion of new lines after html
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											/*var binaryData = [];
											binaryData.push(pdf.output());
											var blob = new Blob(binaryData, {type: "application/pdf"});
											window.open(window.URL.createObjectURL(blob),'_blank');*/
											////pdf.output('dataurlnewwindow');
										}
										else
										{
											////pdf.output('dataurlnewwindow');
										}
										
										}
										, margins);		
										pdf2.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										// dispose: object with X, Y of the last line add to the PDF 
										//          this allow the insertion of new lines after html
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											/*var binaryData = [];
											binaryData.push(pdf.output());
											var blob = new Blob(binaryData, {type: "application/pdf"});
											window.open(window.URL.createObjectURL(blob),'_blank');*/
											////pdf2.output('dataurlnewwindow');
										}
										else
										{
											pdf2.save("#{file_orders}" + ".pdf");
										}
										
										}
										, margins);	
										});
										} else { 
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
										}// end dataorders
										}

										});					
									- resultsOrders = ""
							script.
								$(window).scrollTop($('#reportOrders').offset().top).scrollLeft($('#reportOrders').offset().left);
					div(class="reportSharess results2 resultsshadow", id="reportShares", style="border-radius: 50px 100px !important;")
						h3
							span(class="fa fa-file-text" style=" color: #2975b4; margin-right: 10px;")
							span= i18n.__("reports.shares.title")
						p= i18n.__("reports.shares.subtitle")
						- var datefrom_shares = datefromShares
						- var dateto_shares = datetoShares
						- var file_shares = i18n.__("reports.shares.file") + " " + datefrom_shares + i18n.__("reports.file.to") + dateto_shares
						- var message_fail_share = i18n.__("reports.shares.message.fail")
						- var message_fail_date_share = i18n.__("reports.shares.message.date.fail")
						- if (addMessageShares != null)
							script.
								$(document).ready(function(){
								recenter = 1;
									$('.labelexpandadd').addClass( "highlightlabel" );
									$(".reportlabels").addClass("reportlabels2");
									if($(window).width() > 900){
										$(".labelexpandmood").css("top","0px");
									}
								});
						- var message_success_share = i18n.__("reports.shares.message.success1") + datefrom_shares + i18n.__("reports.shares.message.success2") + dateto_shares + i18n.__("reports.shares.message.success3")
						- if(datefromShares == null || datefromShares == undefined || datefromShares == "")
							- datefrom_shares = i18n.__("reports.shares.lab.option")
							- dateto_shares = ""
							- message_success_share = i18n.__("reports.shares.message.successshares")
							- file_shares = i18n.__("reports.shares.file_all")
						if (addMessageShares == 'failure')
							div(class="alert alert-danger-report alertshadow")!= message_fail_share
						if (addMessageShares == 'wrongdate')
							div(class="alert alert-danger-report alertshadow")!= message_fail_date_share
						if (addMessageShares == 'success')
							div(class="alert alert-success-report fade in alert-dismissable alertshadow")!= message_success_share
						div
							form(action="reportShares", method="post", id="formreportShares")
								div(class="buttonss")
									label(style="top: 23px; position: relative;font-weight: bold;")= i18n.__("reports.shares.datefrom")
									span(class="fa fa-calendar" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
									input(name="reportDateFrom" style="margin-left: 40px;margin-bottom:10px;margin-top: -13px;" type="tel" id="reportDateFrom" class="form-control form-control0")
									
									label(style="top: 23px; position: relative;font-weight: bold;")= i18n.__("reports.shares.dateto")
									span(class="fa fa-calendar" style="top: 23px;position: relative;float: right;color: #3d9dcb;")
									input(name="reportDateTo" style="margin-left: 40px;margin-bottom:10px;margin-top: -13px;" type="tel" id="reportDateTo" class="form-control form-control0")
									
									div(style="max-width:100%; margin-top: 20px;margin-bottom:10px")
										button.btn.btn-success.btn-lg.btn-block.reportbutton2.reportbutton3.shadow(type="submit",value="Report",name="submit")= i18n.__("reports.shares.button")
								if(resultsShares != null && resultsShares !="")
									script(type="text/javascript" src="/javascripts/jspdf.js")
									script(type="text/javascript" src="/javascripts/xlsx.core.min.js")
									script(type="text/javascript" src="/javascripts/Blob.js")
									script(type="text/javascript" src="/javascripts/FileSaver.js")
									script(type="text/javascript" src="/javascripts/savexl.js")
									script.
										recenter = 1;
										$('.intro2').show();
										//$('.pin').show();
										//$('.pulse').show();
										$('.desktabonly3').show();
										var ob = "#{resultsShares}"
										ob = ob.replace(/&lt;/g,"<");
										ob = ob.replace(/&gt;/g,">");

										var pdf = new jsPDF('l', 'pt', 'ledger');
										var pdf2 = new jsPDF('l', 'pt', 'ledger');
										// source can be HTML-formatted string, or a reference
										// to an actual DOM element from which the text will be scraped.
										source = ob;

										// we support special element handlers. Register them with jQuery-style 
										// ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
										// There is no support for any other type of selectors 
										// (class, of compound) at this time.
										$(document).ready(function(){

										$(".intro2").show();
										$(".intro2").addClass("backshares");
										//$('.pin').show();
										//$('.pulse').show();
										$(".intro2").html(source);
										$('.desktabonly3').show();

										setTimeout(function(){
										console.log("height insuff is: " + $('.containerreports').height());
										console.log("top insuff is: " + $('.containerreports').offset().top);
										console.log("report insuff height is: " + $('.reportlabels').height());
										console.log("report insuff top is: " + $('.reportlabels').offset().top);
										var l = $('.containerreports').offset().top + $('.containerreports').height();
										console.log("scrolling " + l);
										$('html,body').animate({scrollTop: l}, 1000);
										}, 500);

										//$(".reportlabels").addClass("reportlabels2");
										//$('.intro2').css("margin-top",$('.restrictreport').height() + 'px');
										
										if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
											console.log("ismobile");
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
											$('.threedown').hide();
											console.log("threedown hide");
										} else {
										console.log("isdesktop");
										var datashares = "#{dataShares}";

										if(datashares != null && datashares != ""){
										$(".intro2").before("<label for='togglerules' id='labeldownload' class='labeldownload animated fadeInUp' data-toggle='tooltip' title='" + "#{i18n.__("reports.download.pdf")}" + "'><span class='fa fa-download'></span></label><label for='togglerules' id='labeldownloadxl'  class='labeldownload animated fadeInUp labeldownloadxl' data-toggle='tooltip' title='" + "#{i18n.__("reports.download.excel")}" + "'><span class='fa fa-database'></span></label>");
										
										

										$(".intro2").prev('#labeldownloadxl').click(function() {
											/* original data */
											//var data = [[1,2,3,4],["Sample", "Sample", "Sample", "Sample"],["foo","bar","Hello","0.3"], ["baz", null, "qux"]];
											console.log("" + "#{dataShares}");
											
											var data = JSON.parse('!{dataShares}');
											console.dir(data);
											var ws_name = "SheetJS";

											var wb = new Workbook(), ws = sheet_from_array_of_arrays(data);

											/* add worksheet to workbook */
											wb.SheetNames.push(ws_name);
											wb.Sheets[ws_name] = ws;
											var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
											saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), "#{file_shares}" + ".xlsx")										
										});

										$(".intro2").prev().prev('#labeldownload').click(function() {
										specialElementHandlers = {
											// element with id of "bypass" - jQuery style selector
											'#bypassme': function(element, renderer) {
											// true = "handled elsewhere, bypass text extraction"
											return true;
										}
										};
										margins = {
											top: 30,
											bottom: 30,
											left: 40,
											right: 40,
											width: 622
										};

										// all coords and widths are in jsPDF instance's declared units
										// 'inches' in this case
										pdf.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										// dispose: object with X, Y of the last line add to the PDF 
										//          this allow the insertion of new lines after html
										
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											/*var binaryData = [];
											binaryData.push(pdf.output());
											var blob = new Blob(binaryData, {type: "application/pdf"});
											window.open(window.URL.createObjectURL(blob),'_blank');*/
											//var blob = pdf.output();
											//window.open(window.URL.createObjectURL(blob),'_blank');

											////pdf.output('dataurlnewwindow');
										}
										else
										{
											////pdf.output('dataurlnewwindow');
											//pdf.save("#{file_shares}");
										}

										}
										, margins);	
										pdf2.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										// dispose: object with X, Y of the last line add to the PDF 
										//          this allow the insertion of new lines after html
										
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											/*var binaryData = [];
											binaryData.push(pdf.output());
											var blob = new Blob(binaryData, {type: "application/pdf"});
											window.open(window.URL.createObjectURL(blob),'_blank');*/
											//var blob = pdf.output();
											//window.open(window.URL.createObjectURL(blob),'_blank');

											//pdf2.output('dataurlnewwindow');
										}
										else
										{
											pdf2.save("#{file_shares}" + ".xlsx");
										}

										}
										, margins);
										});
										} else { 
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
										}// end datashares
										}
										});
									- resultsShares = ""
							script.
								$(window).scrollTop($('#reportShares').offset().top).scrollLeft($('#reportShares').offset().left);
						script.
							$(document).ready(function(){
								//$.mask.definitions['~']='[+-]';
								//$("#eyescript").mask("~9.99 ~9.99 999");
								$("#reportDateFrom").mask("99-99-9999",{placeholder:"mm-dd-yyyy"});
								$("#reportDateTo").mask("99-99-9999",{placeholder:"mm-dd-yyyy"});
								$("#reportDateFromOrders").mask("99-99-9999",{placeholder:"mm-dd-yyyy"});
								$("#reportDateToOrders").mask("99-99-9999",{placeholder:"mm-dd-yyyy"});
								$("#reportDateFromMoney").mask("99-99-9999",{placeholder:"mm-dd-yyyy"});
								$("#reportDateToMoney").mask("99-99-9999",{placeholder:"mm-dd-yyyy"});
								
							});

					div(class="reportInsuffs results2 resultsshadow", id="reportInsuff", style="border-radius: 50px 100px !important;")
						h3
							span(class="fa fa-file-text" style=" color: #2975b4; margin-right: 10px;")
							span= i18n.__("reports.insuff.title")
						p=i18n.__("reports.insuff.subtitle")
						- var message_fail_insuff = i18n.__("reports.insuff.message.fail")
						- var message_fail_date_insuff = i18n.__("reports.insuff.message.date.fail")
						- var message_success_insuff = i18n.__("reports.insuff.message.successinsuff")
						- if (addMessageInsuff != null)
							script.
								$(document).ready(function(){
								recenter = 1;
									$('.labelexpandrules').addClass( "highlightlabel" );
									$(".reportlabels").addClass("reportlabels2");
									if($(window).width() > 900){
										$(".labelexpandmood").css("top","0px");
									}
								});
						if (addMessageInsuff == 'failure')
							div(class="alert alert-danger-report alertshadow")!= message_fail_insuff
						if (addMessageInsuff == 'wrongdate')
							div(class="alert alert-danger-report alertshadow")!= message_fail_date_insuff
						if (addMessageInsuff == 'success')
							div(class="alert alert-success-report fade in alert-dismissable alertshadow")!= message_success_insuff
						div
							form(action="reportInsuff", method="post")
								div(class="buttonss")
									label(style="width: 100%;font-weight: bold;margin-top:10px;margin-bottom: 0px;")!= i18n.__("reports.insuff.lab.label") + dept + "</span>:"
									span(class="fa fa-sort" style="color: #8a6d3b; float: right; top: 25px; left: -10px; position: relative; font-size: 14pt;z-index:-1")
									select(name="reportLabInsuff" type="text" id="reportLabInsuff" class="form-control form-control0" style="border-color:#3d9dcb;margin-bottom:20px;z-index: 1;background-color: transparent;" placeholder=i18n.__("reports.insuff.labselect"))
										option(value="all")= i18n.__("reports.insuff.lab.option")
										if(categories != undefined)
											- var ob = categories
											- for(var prop in ob)
												- var lab = ob[prop].labname
												option(value=lab) #{lab}
									div(class="reportlabelwidth hideinapp")
										label(style="width: 100px;font-weight: bold;margin-top:10px;")= i18n.__("reports.insuff.show")
									div(class="reportlabelwidth reportlabelwidth3")
										label(for="reportVendorInsuff",style="width: 60px;font-weight: bold;")= i18n.__("reports.insuff.vendor")
										div(class="checkboxThree")
											input(type="checkbox" name="reportVendorInsuff" id="reportVendorInsuff" value="vendor")
											label(class="labelcheck shadow", for="reportVendorInsuff")
									div(class="reportlabelwidth reportlabelwidth3", style="width:10%; position:relative; float:left;")
										label(for="reportCatalogInsuff",style="width: 75px;font-weight: bold;")= i18n.__("reports.insuff.catalog")
										div(class="checkboxThree")
											input(type="checkbox" name="reportCatalogInsuff" id="reportCatalogInsuff" value="catalogNumber")
											label(class="labelcheck shadow",for="reportCatalogInsuff")
									div(style="max-width:100%; margin-top: 90px;margin-bottom:10px")
										button.btn.btn-success.btn-lg.btn-block.reportbutton2.reportbutton3.shadow(type="submit",value="Report",name="submit")= i18n.__("reports.insuff.button")
								if(resultsInsuff != null && resultsInsuff !="")
									- var file_insuff = i18n.__("reports.insuff.file") + "_" + labinsuff 
									script(type="text/javascript" src="/javascripts/jspdf.js")
									script(type="text/javascript" src="/javascripts/xlsx.core.min.js")
									script(type="text/javascript" src="/javascripts/Blob.js")
									script(type="text/javascript" src="/javascripts/FileSaver.js")
									script(type="text/javascript" src="/javascripts/savexl.js")
									script.
										
										recenter = 1;
										var ob = "#{resultsInsuff}"
										ob = ob.replace(/&lt;/g,"<");
										ob = ob.replace(/&gt;/g,">");
										var pdf = new jsPDF('l', 'pt', 'ledger');
										var pdf2 = new jsPDF('l', 'pt', 'ledger');
										source = ob;
										$(document).ready(function(){

										$(".intro2").show();
										$(".intro2").addClass("backinsuff");
										//$('.pin').show();
										//$('.pulse').show();
										$(".intro2").html(source);
										$('.desktabonly3').show();

										setTimeout(function(){
										console.log("height insuff is: " + $('.containerreports').height());
										console.log("top insuff is: " + $('.containerreports').offset().top);
										console.log("report insuff height is: " + $('.reportlabels').height());
										console.log("report insuff top is: " + $('.reportlabels').offset().top);
										var l = $('.containerreports').offset().top + $('.containerreports').height();
										console.log("scrolling insuff " + l);
										$('html,body').animate({scrollTop: l}, 1000);
										}, 500);
										if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
											console.log("ismobile insuff");
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
											$('.threedown').hide();
											console.log("threedown hide");
										} else {
										console.log("isdesktop insuff");
										var datainsuff = "#{dataInsuff}";

										if(datainsuff != null && datainsuff != ""){
										$(".intro2").before("<label for='togglerules' id='labeldownload'  class='labeldownload animated fadeInUp' data-toggle='tooltip' title='" + "#{i18n.__('reports.download.pdf')}" + "'><span class='fa fa-download'></span></label><label for='togglerules' id='labeldownloadxl'  class='labeldownload animated fadeInUp labeldownloadxl' data-toggle='tooltip' title='" + "#{i18n.__('reports.download.excel')}" + "'><span class='fa fa-database'></span></label>");

										$(".intro2").prev('#labeldownloadxl').click(function() {
											/* original data */
											//var data = [[1,2,3,4],["Sample", "Sample", "Sample", "Sample"],["foo","bar","Hello","0.3"], ["baz", null, "qux"]];
											console.log("" + "#{dataInsuff}");
											
											var data = JSON.parse('!{dataInsuff}');
											console.dir(data);
											var ws_name = "SheetJS";

											//dark blue
											var opts = {fill:{fgColor:{ rgb: "7F2A75B4" }}};

											var wb = new Workbook(), ws = sheet_from_array_of_arrays(data, opts);

											/* add worksheet to workbook */
											wb.SheetNames.push(ws_name);
											wb.Sheets[ws_name] = ws;
											var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
											saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), "#{file_insuff}" + ".xlsx")										
										});

										$(".intro2").prev().prev('#labeldownload').click(function() {
										console.log("download clicked");
										specialElementHandlers = {
											'#bypassme': function(element, renderer) {
											return true;
										}
										};
										margins = {
											top: 30,
											bottom: 30,
											left: 40,
											right: 40,
											width: 622
										};
										pdf.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											//pdf.output('dataurlnewwindow');
										}
										else
										{
											//pdf.output('dataurlnewwindow');
										}

										}
										, margins);
										
										pdf2.fromHTML(
											source, // HTML string or DOM elem ref.
											margins.left, // x coord
											margins.top, {// y coord
											'width': margins.width, // max width of content on PDF
											'elementHandlers': specialElementHandlers
										},
										function(dispose) {
										if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
										{
											//pdf.output('dataurlnewwindow');
										}
										else
										{
											pdf2.save("#{file_insuff}"+ ".pdf");
										}
										}
										, margins);
										});
										} else { 
											console.log("empty datainsuff");
											$('.intro2').css("margin-right","0px");
											$('.intro2').css("margin-left","0px");
										} // end datainsuff
										
										}
										});
										
									- resultsInsuff = ""
							script.
								$(window).scrollTop($('#reportInsuff').offset().top).scrollLeft($('#reportInsuff').offset().left);
			div(class="threepointssep desktabonly3", style="top:10px;display:none;")
			div(class="intro2 animated fadeIn",style="display:none;")
			div(class="threepointssep desktabonly3", style="top:10px;display:none;margin-top: 25px;margin-bottom: 15px;")
			div(class="slide-out-tip-div account-slide-container")
				a(class="handle" href="last-transactions",title='#{i18n.__("search.tip.header")}', style="right: -60px;left:-60px;top:25px;")!=Content
				div(class="slide-container-one")
					div(style="text-align: center;")
						span(class="zoom_controls")
							a(href="#" class="zoom_out zoomicon" title=i18n.__("zoom.minus"))
								span(class="fa fa-minus-circle")
							a(href="#" class="zoom_reset zoomicon" title=i18n.__("zoom.reset"))
								span(class="fa fa-circle-o-notch")
							a(href="#" class="zoom_in zoomicon" title=i18n.__("zoom.plus"))
								span(class="fa fa-plus-circle")
						div(class="threepointssep", style="margin-top: -10px;")
					p(style="font-size: 12pt;")!= i18n.__("reports.tip.header")
					div(class="slide-desc")
						span!= i18n.__("reports.tip.desc")
				script.
					$(function(){
					$('.slide-out-tip-div').tabSlideOut({
					imgPos: 100,
					tabHandle: '.handle',                              //class of the element that will be your tab
					pathToTabImage: 'images/bouee5.png',          //path to the image for the tab (optionaly can be set using css)
					imageHeight: '50px',                               //height of tab image
					imageWidth: '50px',                               //width of tab image    
					tabLocation: 'right',                               //side of screen where tab lives, top, right, bottom, or left
					speed: 300,                                        //speed of animation
					action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
					topPos: '25% !important',                                   //position from the top
					fixedPosition: true                               //options: true makes it stick(fixed position) on scroll
					});
					});
			span(class="desktabonly", id="checkdisplay")
			script.
				$( document ).ready(function() {

				});

			span(class="checkintro")
			- if(resultsMoneyIntro != null && resultsMoneyIntro !="")
				div(class="intro results animated fadeIn",style="/*margin-top:500px;*/display:none;")!= resultsMoneyIntros