extends layout

block content
    div(id="pageloader")
      div(class="spinner")
        div(class="bounce1")
        div(class="bounce2")
        div(class="bounce3")
    - var catalogradio = searchformTextCatalog
    - var searchradio = searchformText
    - var searchradioType = searchType
    - var slide = "moveFromLeft"
    if searchradioType
      - slide = ""
    img(src="/images/yoke5.png" style="display:none;")
    img(src="/images/yoke6.png" style="display:none;") 
    img(src="/images/logo_one_bottle_L_2.png" style="display:none;") 
    form(action="/orders" id="orders" method="post")
        input(name="emailform" type="hidden" id="emailform" value="")
        input(name="agentform" type="hidden" id="agentform" value="")
        input(name="vendorform" type="hidden" id="vendorform" value="")
        input(name="catalogform" type="hidden" id="catalogform" value="")
        input(name="locationform" type="hidden" id="locationform" value="")
        input(name="categoryform" type="hidden" id="categoryform" value="")
        input(name="qtyform" type="hidden" id="qtyform" value="")
        input(name="labform" type="hidden" id="labform" value="")
        input(name="langform" type="hidden" id="langform" value="")
        div(id="ios-light")
            center
                h1 #{i18n.__("search.layovertitle")}
                p(id="orderText")
                div
                    div(id="actionorder" class="exit" style="width: 50%; float: left; background-color: rgba(138, 109, 59, 0.55);")="OK"
                    div(class="exit" onclick="iosLightExit()") #{i18n.__("search.layovercancel")}
        div(class="shade" id="shade")
        div(class="shade-light" id="shade-light")
    //if(searchResults == undefined || (searchResults != null && searchResults.length == 0)) 
    //  div(class="searchlogo")
    //    img(src="/images/logo_one_bottle_L.png", alt="The Yoke",  title="Yoke", class="searchlogoimg")
    div(class="container login marginbottom positionings searchmargins container2 " + slide)
        div(class="searchlogo")
          img(src="/images/logo_one_bottle_L_2.png", alt="The Yoke",  title="Yoke", class="searchlogoimg")
          img(src="/images/logo_one_bottle_R_2.png", alt="The Yoke",  title="Yoke", class="searchlogoimg")
        div(class="radiosearch keysearchs searchradios")
          div(style="float:left;")
            input(type="radio" name="search" value="keysearch" id="keyradio")
            label(for="keyradio", style="float: left;", onClick="radioclick()")
              span #{i18n.__("search.radio.key")}
            div(class="checking shadow", onClick="radioclick()")
          div(style="/*float:right;*/", class="margincatalogradio")
            input(type="radio" name="search" value="catalogsearch" id="catalogradio" style="margin-left: 15px;")
            label(for="catalogradio", style="float: right;margin-right: 5px;", class="catalogradio", onClick="radiocatclick()")
              span #{i18n.__("search.radio.catalog")}
            div(class="checkingcatalog shadow", onClick="radiocatclick()")
        div(class="keysearch", style="display:none", id="keysearch")
            span(id="loopkey", class="fa fa-search colmenu desktabonly" style="position: relative;to;font-size: 15pt;top: -150px;margin: 0 auto;text-align: center;display: block;")
            - searchText = i18n.__("search.searchholder")
            - classButton = "btn-success"
            if searchformText
                - searchText = i18n.__("search.results.text") + searchformText
                - classButton = "btn-success-results"          
            div(id="ctl00_Div2" class="row")
                div
                    if message
                        div(class="alert alert-danger messagesearch alertshadow")!= message
                    form(action="/search" method="post" style="padding-left: 15%; padding-right: 15%; display: block; text-align: center;")
                        div(class="textentry")
                            input(type="hidden" name="searchType" value="key")
                            input(name="searchText" list="agent-datalist"  type="text" id="searchText" class="form-control searchinput" placeholder=searchText)
                            datalist(id="agent-datalist")
                                -var ob2 = agentsResults
                                -for(var prop in ob2)
                                    option(value='#{ob2[prop].agent}')
                        div(class="buttons positionbuttons", style="display: block; text-align: center; ")
                            button(class="btn " + classButton + " btn-lg btn-block btnsearch shadow" type='submit' style="margin: 0 auto;width: 278px;") #{i18n.__("search.buttonreagent")}
                            img(src="images/yoke5.png", alt="The Search", title="Search", style="border-width:0px; width: 35px; margin-top: -99px; margin-left: 370px;" class="desktabonly")
                    //div(class="desktabonly" , style="background-color: #3d9dcb; height: 1px;width: 50%;text-align: center;margin: 0 auto;position: relative;top: -25px;")

        div(class="keysearch", id="catalogsearch", style="display:none")
            span(id="loopcatalog", class="fa fa-search colmenu desktabonly" style="position: relative;to;font-size: 15pt;top: -150px;margin: 0 auto;text-align: center;display: block;")
            - searchTextCatalog = i18n.__("search.catalogholder")
            - classButtonCatalog = "btn-success"
            if searchformTextCatalog
                - searchTextCatalog = i18n.__("search.results.text") + searchformTextCatalog
                - searchformTextCatalog = i18n.__("search.results.text")  + searchformTextCatalog
                - classButtonCatalog = "btn-success-results"            
            div(id="ctl00_Div2" class="row")
                div
                    if messageCatalog
                        div(class="alert alert-danger messagesearch alertshadow")!= messageCatalog
                    form(action="/searchCatalog" method="post" style="padding-left: 15%; padding-right: 15%; display: block; text-align: center;")
                        div(class="textentry")
                            input(type="hidden" name="searchType" value="catalog")
                            input(name="searchTextCatalog" list="catalog-datalist" type="text" id="searchTextCatalog" class="form-control searchinput" placeholder=searchTextCatalog)
                            datalist(id="catalog-datalist")
                                -var ob2 = agentsResults
                                -for(var prop in ob2)
                                    option(value='#{ob2[prop].catalognumber}')
                        div(class="buttons positionbuttons", style="display: block; text-align: center;")
                            button(class="btn " + classButtonCatalog + " btn-lg btn-block btnsearch shadow" type='submit' style="margin: 0 auto;width: 278px;") #{i18n.__("search.buttoncatalog")}
                            img(src="images/yoke6.png", alt="The Search", title="Search", style="border-width:0px; width: 35px; margin-top: -99px; margin-left: 370px;", class="desktabonly")
                    //div(class="searchcatalogbar desktabonly")
        script.
          console.log("catalogradio: " + "#{catalogradio}");
          console.log("searchradio: " + "#{searchradio}");
          console.log("searchType: " + "#{searchradioType}");
          

          var existscatalog = "#{catalogradio}";
          var existskey = "#{searchradio}";
          var existssearchType = "#{searchradioType}";
          console.log(" length catalogradio: " + existscatalog.length);
          console.log("length searchradio: " + existskey.length);
          if(existskey.length > 0 || existssearchType == "key"){
            $("#keysearch").show();
            $("#catalogsearch").hide();
            $('input[name=search][value=keysearch]').prop('checked', 'checked');
            //if(existssearchType == "key"){
              console.log("existssearchType is key: "+existssearchType);
              $("#loopkey").removeClass( "colmenu" );
              $("#loopkey").addClass( "activecolmenu" );
              $("#loopcatalog").removeClass( "activecolmenu" );
              $("#loopcatalog").addClass( "colmenu" );
            //}
          } else if(existscatalog.length > 0 || existssearchType == "catalog"){
            $("#keysearch").hide();
            $("#catalogsearch").show();
            $('input[name=search][value=catalogsearch]').prop('checked', 'checked');
            //if(existssearchType == "catalog"){
              console.log("existssearchType is cat: "+existssearchType);
              $("#loopcatalog").removeClass( "colmenu" );
              $("#loopcatalog").addClass( "activecolmenu" );
              $("#loopkey").removeClass( "activecolmenu" );
              $("#loopkey").addClass( "colmenu" );
            //}
          } else {
            $("#keysearch").show();
            $("#catalogsearch").hide();
            $('input[name=search][value=keysearch]').prop('checked', 'checked');
              $("#loopcatalog").removeClass( "activecolmenu" );
              $("#loopcatalog").addClass( "colmenu" );
              $("#loopkey").removeClass( "activecolmenu" );
              $("#loopkey").addClass( "colmenu" );
          }
          
          
          $("input[name=search]").on( "change", function() {
               var test = $(this).val();
               if(test == "catalogsearch"){
                  $("#keysearch").hide();
                  $("#catalogsearch").show();
               } else {
                  $("#keysearch").show();
                  $("#catalogsearch").hide();
               }
               
               
          } );
          function radioclick() {
              $("#keysearch").show();
              $("#catalogsearch").hide();
              $('input[name=search][value=keysearch]').prop('checked', 'checked');
              //$("#loopcatalog").removeClass( "activecolmenu" );
              //$("#loopcatalog").addClass( "colmenu" );
              //$("#loopkey").removeClass( "activecolmenu" );
              //$("#loopkey").addClass( "colmenu" );
          }
          function radiocatclick() {
              $("#keysearch").hide();
              $("#catalogsearch").show();
              $('input[name=search][value=catalogsearch]').prop('checked', 'checked');
              //console.log("existssearchType is cat: "+existssearchType);
              //$("#loopcatalog").removeClass( "colmenu" );
              //$("#loopcatalog").addClass( "activecolmenu" );
              //$("#loopkey").removeClass( "activecolmenu" );
              //$("#loopkey").addClass( "colmenu" );
          }
        div(class="slide-out-tip-div desktabonly", style="display:none;z-index:1;position: fixed;top: 25% !important;max-height:400px;")
            a(class="handle" href="last-transactions", title='#{i18n.__("search.tip.title")}', style="right: -60px;left:-60px;")!=Content
            div(style="padding: 1px;color:white;top: -45px;position: relative;")
                p(style="font-size: 12pt;")!= i18n.__("search.tip.header")
                div(style="position: relative;float: right;width: 250px;font-size: 9pt;line-height: 1.3;border-radius: 4px;max-height:320px;overflow:auto;")
                  span!= i18n.__("search.tip.desc")
        script.
         $(function(){
             $('.slide-out-tip-div').tabSlideOut({
                 imgPos: 115,
                 tabHandle: '.handle',                              //class of the element that will be your tab
                 pathToTabImage: 'images/bouee3.png',          //path to the image for the tab (optionaly can be set using css)
                 imageHeight: '50px',                               //height of tab image
                 imageWidth: '50px',                               //width of tab image    
                 tabLocation: 'right',                               //side of screen where tab lives, top, right, bottom, or left
                 speed: 300,                                        //speed of animation
                 action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
                 topPos: '25% !important',                                   //position from the top
                 fixedPosition: true                               //options: true makes it stick(fixed position) on scroll
             });
         });

        if email != undefined
          div(id="ordered",style="float:left;width: 100%;margin-top: 20px;")
            div(class="alert alert-success alertshadow")
                a(href="#", class="close", data-dismiss="alert", aria-label="close", title="close")="x"
                h4= i18n.__("orders.success.title")
                  span(style="color: #3d9dcb;")=" " + order_location
                  span="!"
                p=" "
                p
                  b= i18n.__("orders.success.reagent")
                  span= order_agent
                  br
                  b= i18n.__("orders.success.catalog")
                  span= order_catalog
                  br
                  b= i18n.__("orders.success.vendor")
                  span= order_vendor
          script="$(window).scrollTop($('#ordered').offset().top * 10).scrollLeft($('#ordered').offset().left);"

        if(searchResults != null && searchResults.length > 0)
          //div(class="results2 resultsshadow")
          div(class="results10")
              div
                  span(style="text-align: center")
                    h3(style="font-weight: 400;") #{i18n.__("search.resultstitle")}
                        if searchformText
                            span(style="color: #3d9dcb;")=" " + searchText
                        if searchformTextCatalog
                            span(style="color: #3d9dcb;")=" " + searchformTextCatalog
                    h4 #{i18n.__("search.resultssubtitle")}
              #labyokers.container(style="width:100%;")
                div(id="ctl00_Div2" class="row rank").match
                   - i = 1
                   - className = ""
                   div(class="table-responsive")                    
                      table(id="rankTblSearch" class="table rankTbl card-list-table")
                        thead
                         tr(class="you info-best" style="font-weight: bold")
                          td(class="desktabonly")= ' '
                          td(class="desktabonly")= '# '
                          td(class="wrapped") #{i18n.__("search.table.reagent")}
                          td(class="desktabonly") #{i18n.__("search.table.catalog")}
                          td(class="desktabonly") #{i18n.__("search.table.vendor")}
                          td #{i18n.__("search.table.location")}
                          td #{i18n.__("search.table.order")}
                        tbody
                         -var ob = searchResults
                         - var j = 1
                         -for(var prop in ob)
                            - var i = prop % 2
                            - var classname = "";
                            - //if(i==0)
                                - //classname = "active"
                            - var agent = ob[prop].agent
                            - var vendor = ob[prop].vendor
                            - var catalognumber = ob[prop].catalognumber
                            - var fullname = fullname
                            - var sendemail = sendemail
                            - var reqemail = ob[prop].email
                            - var location = ob[prop].location  
                            - var category = ob[prop].category  
                            - var qty = ob[prop].quantity
                            - var lab = ob[prop].lab                   
                            tr(class=classname)
                                td(class="removecard")= 'x'
                                td(data-title="#" class="desktabonly")= j
                                td(data-title="#{i18n.__('search.table.reagent')}" class="wrapped") #{ob[prop].agent}
                                td(data-title="#{i18n.__('search.table.catalog')}" class="/*desktabonly*/") #{ob[prop].catalognumber}
                                td(data-title="#{i18n.__('search.table.vendor')}" class="desktabonly") #{ob[prop].vendor}
                                td(data-title="#{i18n.__('search.table.location')}") #{ob[prop].location}
                                td(data-title="" style="position: absolute;bottom: 5%;left: 47%;")
                                  span(onclick="iosLight('#{agent}','#{vendor}','#{catalognumber}','#{reqemail}','#{location}','#{category}','#{qty}','#{lab}','#{lang}','#{ob[prop].lang}')", style="cursor:pointer")
                                        img(src="images/cart.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: -5px;margin-left: 10%;")
                            - j = j + 1
                      script.
                        $(document).ready(function() {

                          $('.removecard').click(function() {
                              
                                console.log("hiding");
                                console.debug($( this ));
                                console.debug($( this ).parent());
                                //$( this ).parent().hide();

                                $(this).animate({
                                  padding: "0px",
                                     'margin-left':'-10px',
                                  'font-size': "0px"
                                }, 1000, function() {
                                    $( this ).parent().remove();
                                    //$(this).remove();      
                                });

                          });
                          
                           $('#rankTblSearch').DataTable({
                           language:{
                                        processing: "#{i18n.__("datatable.processing")}",
                                        search: "#{i18n.__("datatable.search")}",
                                        lengthMenu: "#{i18n.__("datatable.lengthMenu")}",
                                        info: "#{i18n.__("datatable.info")}",
                                        infoEmpty: "#{i18n.__("datatable.infoEmpty")}",
                                        infoFiltered: "#{i18n.__("datatable.infoFiltered")}",
                                        infoPostFix: "",
                                        loadingRecords: "#{i18n.__("datatable.loadingRecords")}",
                                        zeroRecords: "#{i18n.__("datatable.zeroRecords")}",
                                        emptyTable: "#{i18n.__("datatable.emptyTable")}",
                                        paginate: {
                                        first: "#{i18n.__("datatable.first")}",
                                        previous: "#{i18n.__("datatable.previous")}",
                                        next: "#{i18n.__("datatable.next")}",
                                        last: "#{i18n.__("datatable.last")}"
                                        },
                                        aria: {
                                        sortAscending: "#{i18n.__("datatable.sortAscending")}",
                                        sortDescending: "#{i18n.__("datatable.sortDescending")}"
                                        }
                                    }
                           });
                        });
              script="$(window).scrollTop($('.results10').offset().top).scrollLeft($('.results10').offset().left);"          
        if(searchResults != undefined && searchResults.length == 0 && searchformText)
          div.container.searchResults(id="results2 resultsshadow")
                div(id="ctl00_Div2" class="row rank")
                   div(class="table-responsive")
                      span(style="text-align: center")
                        h3(style="font-weight: 400;")="Sorry we could not find any location for your"
                            span(style="color: #3d9dcb;")=" " + searchText
                        h4="Try another chemical reagent!"              
    //script="$(window).scrollTop($('#results').offset().top).scrollLeft($('#results').offset().left);"
    span(class="desktabonly", id="checkdisplay")
    script.
      $( document ).ready(function() {
        console.log( "search document loaded" );
        if ($("#checkdisplay").css("display") == "none" ){
          $('.slide-out-tip-div').hide();
        } else {
          $('.slide-out-tip-div').show();
        }
      });

        

