extends layout

block content


    div(class="container login")
        div(style="float: left; width: 350px;")
            img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", style="border-width:0px; width: 300px")
            h1= 'Search!'
            p Start your search by typing in the name of the chemical.
            - searchText = "Looking for..."
            - classButton = "btn-success"
            if searchResults
                - searchText = "Search: " + searchResults
                - classButton = "btn-success-results"
            div(id="ctl00_Div2" class="row")
                div
                    if message
                        div(class="alert alert-danger")!= message
                    form(action="/search" method="post")
                        div(class="textentry")
                            input(name="searchText" type="text" id="searchText" class="form-control" placeholder=searchText)
                        div(class="buttons")
                            //input(type="submit" class="button" value="Get in")
                            button(class="btn " + classButton + " btn-lg btn-block" type='submit') Find
                            img(src="images/search.png", alt="The Search", title="Search", style="border-width:0px; width: 75px; margin-top: -50px; margin-left: 300px;")
        
        if searchResults
            div.searchResults
               #netlighters.container(style="width:100%;")
                div(id="ctl00_Div2" class="row rank").match
                   - i = 1
                   - className = ""
                   div(class="table-responsive")
                      table(id="rankTbl" class="table")
                        tbody
                            tr(class="info-normal" id="and")
                                  td= "1"
                                  td(class="wrapped")!= 'Andria [ Schibler ]'
                                  td= 'Lab3'
                                  td= "2 ml"
                                  td
                                    img(src="images/call1.png", alt="Call Andria", title="Call Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/email.png", alt="Email Andria", title="Email Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/message.ico", alt="Message Andria", title="Message Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                            tr(class="active" id="gna")
                                  td= "2"
                                  td(class="wrapped")!= 'Gnagna [ Konate ]'
                                  td= 'Lab2'
                                  td= "5 ml"
                                  td
                                    img(src="images/call1.png", alt="Call Gnagna", title="Call Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/email.png", alt="Email Gnagna", title="Email Gnagna", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/message.ico", alt="Message Gnagna", title="Message Gnagna", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                            tr(class="you info-best" id="era")
                                  td= "3"
                                  td(class="wrapped icon-user")!= 'Eran [ Shaysh]'
                                  td= 'Lab1'
                                  td= "15 ml"
                                  td
                                    img(src="images/call1.png", alt="Call Eran", title="Call Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/email.png", alt="Email Eran", title="Email Eran", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/message.ico", alt="Message Eran", title="Message Eran", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                            tr(class="active" id="len")
                                  td= "4"
                                  td(class="wrapped")!= 'Lena [ Konate ]'
                                  td= 'Lab2'
                                  td= "1 ml"
                                  td
                                    img(src="images/call1.png", alt="Call Lena", title="Call Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/email.png", alt="Email Lena", title="Email Lena", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/message.ico", alt="Message Lena", title="Message Lena", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                            tr(class="info-normal" id="someone")
                                  td= "1"
                                  td(class="wrapped")!= 'Some [ One ]'
                                  td= 'Lab26'
                                  td= "2 ml"
                                  td
                                    img(src="images/call1.png", alt="Call Someone", title="Call Andria", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/email.png", alt="Email Someone", title="Email Someone", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
                                    img(src="images/message.ico", alt="Message Someone", title="Message Someone", style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 10px;")
    div(style="padding:5px")
        

