extends layout

block content

    div(id="ios-light")
        center
            h1="Ordering?"
            p="You are about to order 3ml of Chemical1 from Martin"
            div
                div(class="exit" onclick="iosLightExit()" style="width: 50%; float: left; background-color: rgba(138, 109, 59, 0.55);")="OK"
                div(class="exit" onclick="iosLightExit()")="Cancel"
    div(class="shade" id="shade")
    div(class="shade-light" id="shade-light")

    div(class="container login")
        div(style="float: left; width: 350px;")
            a(href="/search")
                img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
            h1= 'Search.'
            p Start your search by typing in the name of the agent.
            - searchText = "Looking for..."
            - classButton = "btn-success"
            if searchformText
                - searchText = "Search: " + searchformText
                - classButton = "btn-success-results"
            div(id="ctl00_Div2" class="row")
                div
                    if message
                        div(class="alert alert-danger")!= message
                    form(action="/search" method="post")
                        div(class="textentry")
                            input(name="searchText" type="text" id="searchText" class="form-control" placeholder=searchText)
                        div(class="buttons")
                            //input(type="submit" class="button" value="Get in")
                            button(class="btn " + classButton + " btn-lg btn-block" type='submit') Find
                            img(src="images/search.png", alt="The Search", title="Search", style="border-width:0px; width: 60px; margin-top: -50px; margin-left: 300px;")
        
        if(searchResults != null && searchResults.length > 0)
            div.searchResults(id="results")
               #labyokers.container(style="width:100%;")
                div(id="ctl00_Div2" class="row rank").match
                   - i = 1
                   - className = ""
                   div(class="table-responsive")
                      span(style="text-align: center")
                        h3="These Researchers and Labs can share your"
                            span(style="color: #3d9dcb;")=" " + searchText
                        h4="Email them!"                    
                      table(id="rankTbl" class="table")
                        tbody
                        -var ob = searchResults
                        - var j = 1
                        -for(var prop in ob)
                            - var i = prop % 2
                            - var classname = "";
                            - if(i==0)
                                - classname = "active"
                            - if(prop==1)
                                - classname = "you info-best"
                            - var agent = ob[prop].agent
                            - var vendor = ob[prop].vendor
                            - var catalognumber = ob[prop].catalognumber
                            - var fullname = req.session.fullname
                            - var sendemail = req.session.email
                            - var reqemail = ob[prop].email
                            tr(class=classname)
                                td(class="desktabonly")= j
                                td(class="wrapped") #{ob[prop].agent}
                                td #{ob[prop].vendor}
                                td #{ob[prop].location}
                                td
                                    a(href="mailto:"+ ob[prop].email + "?Subject= LabYoke Request - Order for " + searchformText + "&body=Dear "+ ob[prop].location +",%0A%0AThis is a kind request to share 100 units from the following inventory: %0DAgent: " + ob[prop].agent + "%0DVendor: " + ob[prop].vendor + "%0DCatalog#: " + ob[prop].catalognumber + "%0A%0ARegards,%0A%0ALabyoke -")
                                        img(src="images/email.png", alt="Email", title="Email " + ob[prop].location, style="border-width:0px; width: 24px; margin-top: 00px; margin-right: 15px;")
                                    span(onclick="iosLight(agent,vendor,catalognumber,fullname,sendemail,reqemail)", style="cursor:pointer")
                                        img(src="images/ship2.png", alt="Order now", title="Order now", style="border-width:0px; width: 24px; margin-top: 0px;")
                            - j = j + 1                
        if(searchResults != undefined && searchResults.length == 0 && searchformText)
            div.searchResults(id="results")
                div(id="ctl00_Div2" class="row rank")
                   div(class="table-responsive")
                      span(style="text-align: center")
                        h3="Sorry we could not find any location for your"
                            span(style="color: #3d9dcb;")=" " + searchText
                        h4="Try another chemical agent!" 
                         
            script="$(window).scrollTop($('#results').offset().top).scrollLeft($('#results').offset().left);"

        

