extends layout

block content
	
	div(class="container login")
		div(style="float: left;" class="share-container")
			a(href="/search")
				img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
			h1= 'Share.'
			if(myshares == "")
				h4="You are currently not sharing any agent."
			if(myshares != "")
				h4="You are currently sharing."
				p="An administrator has uploaded the following agents on your behalf."
				div(id="results")
					div(id="ctl00_Div2" class="row rank")
						div(class="table-responsive")               
							table(id="rankTbl" class="table")
								tbody
									tr(class="you info-best" style="font-weight: bold")
										td(class="desktabonly")= 'id'
										td(class="wrapped")!= 'Agent'
										td= 'Vendor'
										td= 'Catalog#'
									-var ob = myshares
									-for(var prop in ob)
										tr(class="")
											td(class="desktabonly") #{prop}
											td(class="wrapped") #{ob[prop].agent}
											td #{ob[prop].vendor}
											td #{ob[prop].catalognumber}
			div(style="background-color: #3d9dcb; height: 2px; margin-bottom: 30px; margin-top: 30px;")

			if(isLoggedInAdmin == 1)
				h4="Admin Upload."
				p="You can now upload a list of agents (xcel spreadsheet) from your local computer or Google drive."
				form(id="uploadForm", enctype="multipart/form-data", action="share", method="post")
					input(style="display:none", type="file" name="file",id="file", class="inputfile inputfile-1", data-multiple-caption="{count} files selected")
					label(for="file", style="width: 50%;text-align: center;border-radius: 6px;")
						svg(xmlns="http://www.w3.org/2000/svg", width="20", height="17", viewBox="0 0 20 17")
							path(d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z")
						span="Choose an Excel File..."
					div(class="buttons")
						button.btn.btn-success.btn-lg.btn-block(type="submit",value="Upload",name="submit") Upload File
						img(src="images/ship.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")

		if json
			div(id="results")
				div(id="ctl00_Div2" class="row rank")
					div(class="table-responsive")
						span(style="text-align: center")
							h3="Fantastic! You have uploaded the file: "
								span(style="color: #3d9dcb;")=" " + spreadname                   
						table(id="rankTbl" class="table")
							tbody
								tr(class="you info-best" style="font-weight: bold")
									td(class="desktabonly")= 'id'
									td(class="wrapped")!= 'Agent'
									td= 'Vendor'
									td= 'Catalog#'
									td= 'Location'
								-var ob = json
								-for(var prop in ob)
									tr(class="")
										td(class="desktabonly") #{prop}
										td(class="wrapped") #{ob[prop].name_of_reagent}
										td #{ob[prop].vendor}
										td #{ob[prop].catalog_number}
										td #{ob[prop].location}
			div(style="background-color: #3d9dcb; height: 2px; margin-bottom: 30px; margin-top: 30px;")
		div(style="float:right", class="share-container")
			script(type="text/javascript" src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
			div(style="background-color: #3d9dcb; height: 2px; margin-bottom: 30px; margin-top: 30px;")
			h4="A brief report of the monthly shares."
			p="This graph depicts an example"
				div(class="ct-chart ct-perfect-fourth")
				script.
					var data = {
						labels: ['Bamhi', 'CCell', 'Agent1', 'Agent2', 'H-3'],
						series: [
							[5, 2, 4, 2, 0]
						]
					};

					var options = {
						width: 500,
						height: 200
					};
					var responsiveOptions = [
					['screen and (max-width: 440px)', {
						width: 300,
						height: 200
					}],
					['screen and (max-width: 767px)', {
						width: 500,
						height: 200
					}],
					['screen and (min-width: 990px)', {
						width: 300,
						height: 200
					}]
					];

					new Chartist.Line('.ct-chart', data, options, responsiveOptions);
	
