extends layout

block content

	div(class="container login")
		div(style="float: left; width: 350px;")
			a(href="/search")
				img(src="/images/yoke.jpg", alt="The Yoke",  title="Yoke", class="yokelogo")
			h1= 'Share.'
			form(id="uploadForm", enctype="multipart/form-data", action="share", method="post")
				input(type="file", name="file")=Upload
				div(class="buttons")
					button.btn.btn-success.btn-lg.btn-block(type="submit",value="Upload",name="submit") Upload File
					img(src="images/ship.png", alt="The Lab", title="Lab", style="border-width:0px; width: 50px; margin-top: -50px; margin-left: 300px;")
			if json
				div(class="table-responsive")
					span(style="text-align: center")
						h3="Fantastic! You have uploaded the following"
							span(style="color: #3d9dcb;")=" data"                   
					table(id="rankTbl" class="table")
						tbody
							tr(class="you info-best" style="font-weight: bold")
								td(class="desktabonly")= 'id'
								td(class="wrapped")!= 'X'
								td= 'Y'
							-var ob = json
							-for(var prop in ob)
								tr(class="")
									td(class="desktabonly") #{prop}
									td(class="wrapped") #{ob[prop].x}
									td #{ob[prop].y}