doctype5
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/bl.css')
    script(src="http://code.jquery.com/jquery-1.7.min.js", type="text/javascript")

  body
    header
      h1= t('app.name')
    .navbar
      h1= t('app.selectlanguage')
      ul 
        li
          a#de(href='/?setLng=en')= t('app.english')
        li
          a#de(href='/?setLng=fr')= t('app.french')
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
p Running on node with Express, Jade and Stylus